@import 'global';

.top-nav{
	padding: 12px;
	background-color: #fafbff;
	box-shadow: 0 2px 5px 0 rgba(65, 65, 65, 0.15);
}

.date-nav{
	width: 20%;
	font-family: $roboto-medium;
	color: $color-primary;
	font-size: 15px;
	padding: 5px 0px;

	img{
		width: 20px;
		margin-right: 15px;
	}
}

.search-nav{
	width: 60%;
}

.form-search-group{
	position: relative;
	width: 60%;
	margin: auto;
	display: block;
}

.search{
	position: absolute;
	right: 0px;
	background-color: #fafbff;
	border-radius: 50px;
	border: solid 1px rgba(60, 85, 179, 0.4);
	padding: 5px 32px 5px 20px;
	color: $color-primary;
	opacity: 0.5;
	font-size: 14px;
	outline: none;
	width: 75%;
	transition: right 0.5s;

	&:focus{
		opacity: 1;
		border: solid 1px rgba(60, 85, 179, 1);
		right: 37px;
        width: 75%;
	}

	&:focus ~ .search-icon{
		right: 38px;
	}

	&:focus ~ .search-icon-close{
		opacity: 1;

		-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
	}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.search-icon{
	font-family: FontAwesome;
	position: absolute;
	z-index: 2;
	right: 2px;
	top: 1px;
	padding: 5px 11px;
	border: none;
	cursor: pointer;
	color: $color-primary;
	border-radius: 50px;
	font-size: 14px;
	background-color: #fafbff;
	transition: right 0.5s;

	&:hover{
		color: $color-secondary;
	}
}

.search-icon-close{
	opacity: 0;
	font-family: FontAwesome;
	position: absolute;
	z-index: 1;
	right: 2px;
	top: 4px;
	padding: 2px 8px;
	border: none;
	cursor: pointer;
	color: #fff;
	border-radius: 50px;
	font-size: 14px;
	background-color: #d20505;
	animation: $link-trans;
}

.social-nav{
	width: 20%;
	padding: 3px 0px;
	text-align: right;

	ul{
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	li{
		display: inline-block;
		padding-right: 16px;
		
		&:last-child{
			padding-right: 0px;
		}
	}

	a{
		font-size: 18px;
		border-radius: 50px;
		padding: 7px 7px;
		transition: $link-trans;

		&:hover{
			i{
				color: #fff;
			}
		}
	}

	a.social-fb{
		background-color: #fff;
		color: $color-fb;

		&:hover{
			background-color: $color-fb;
		}
	}

	a.social-tw{
		background-color: #fff;
		color: $color-tw;

		&:hover{
			background-color: $color-tw;
		}
	}

	a.social-ig{
		background-color: #fff;
		color: $color-ig;

		&:hover{
			background-color: $color-ig;
		}
	}

	a.social-yt{
		background-color: #fff;
		color: $color-yt;

		&:hover{
			background-color: $color-yt;
		}
	}
}

// Logo
.warp-logo{
	padding: 24px 0px;
}

.logo-head{
	width: 250px;
	padding: 8px 0px;
	float: left;

	img{
		width: 250px;
		height: 75px;
	}
}

.leaderboard{
	width: 728px;
	float: right;

	img{
		width: 728px;
		height: 90px;
	}
}

// Search Head
.warp-search-head{
	width: 600px;
	float: right;
	padding: 15px 0px;
}

.form-search-head-group{
	position: relative;
}

.search-head{
	position: absolute;
	background-color: #fafbff;
	border-radius: 50px;
	border: solid 1px rgba(60, 85, 179, 0.4);
	padding: 16px 32px 16px 20px;
	color: $color-primary;
	opacity: 0.5;
	font-size: 18px;
	outline: none;
	width: 600px;
	height: 54px;
}

.search-head-icon{
	font-family: FontAwesome;
	position: absolute;
	z-index: 2;
	right: 2px;
	top: 3px;
	padding: 5px 11px;
	border: none;
	cursor: pointer;
	color: $color-primary;
	border-radius: 50px;
	font-size: 18px;
	background-color: #fafbff;
	transition: right 0.5s;
	height: 49px;
	width: 65px;

	&:hover{
		color: $color-secondary;
	}
}

// Navigasi
nav{
	margin-bottom: 20px;
	position: relative;

	.swiper-slide{
		width: auto;
		font-family: $roboto-bold;
		padding: 20px  0px;
		position: relative;
	}

	a{
		font-family: $roboto-bold;
		font-size: 12px;
		color: #fff;
		background: $color-primary;
		padding: 19px 13px;
		transition: $link-trans;

		&:hover, &:focus{
			text-decoration: none;
			color: #fff;
			background: $color-secondary;
			padding: 25px 13px 19px;
			border-radius: 5px 5px 0px 0px;
		}

		img{
			width: 24px;
			height: 24px;
		}
	}

	.active{
		background: $color-secondary;
		padding: 25px 13px 19px;
		border-radius: 5px 5px 0px 0px;
	}
}

.nav-next, .nav-prev{
	width: 34px;
	height: 52px;
	float: left;
	cursor: pointer;
	background: $color-primary;
	margin: 8px 0px;
	display: flex;
	justify-content: center;

	img{
		width: 24px;
	}
}

.nav-text{
	width: calc(100% - 68px);
	height: 60px;
	float: left;
	// background: $color-primary;
}

// Sticky Nav
.sticky {
	position: fixed;
	z-index: 99;
	width: 1136px;
	height: 47px;
	top: 0px;
	animation: mymove 0.3s ease-in-out;
	-webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.46);
	box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.46);

  	.warp-nav{
		li a.active-subkanal{

			&:after{
				visibility: hidden;
			}
		}
	}

	.swiper-slide{
		width: auto;
		font-family: $roboto-bold;
		padding: 12px  0px;
		position: relative;
	}

    .nav-next, .nav-prev{
		width: 34px;
		height: 48px;
		float: left;
		cursor: pointer;
		background: $color-primary;
		margin: 0px 0px;
		display: flex;
		justify-content: center;

		img{
			width: 24px;
		}
	}
}

.nav-fixed {
	height: 60px;
}

.nav-- {
	height: 0px;
}

@keyframes mymove {
	from {
		top: -60px;
	}
	to {
		top: 0px;
	}
}

// About
.top-nav-about{
	padding: 12px;
	background-color: #fafbff;
	box-shadow: 0 2px 5px 0 rgba(65, 65, 65, 0.15);
	border-radius: 0px 0px 30px 30px;
}

.nav-about-logo{
	width: 10%;

	img{
		width: 28px;
	}
}

.nav-about{
	width: 90%;
	text-align: right;

	ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	li{
		display: inline-block;

		&:after{
			content: "|";
			color: #777777;
			padding-left: 12px;
			margin-right: 12px;
		}

		&:last-child:after{
			content: "";
			padding-left: 0px;
			margin-right: 0px;
		}
	}

	a{
		color: #777777;
		font-family: $roboto-reguler;
		font-size: 16px;

		&:hover, &:focus{
			text-decoration: none;
			color: $color-secondary;
		}
	}
}

// Sticky
.stickyAbout {
	position: fixed;
	z-index: 99;
	width: 100%;
	top: 0px;
	animation: mymove 0.3s ease-in-out;
	-webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.46);
	box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.46);
}

.navAbout-fixed {
	height: 60px;
}

.navAbout-- {
	height: 0px;
}

@keyframes mymove {
	from {
		top: -60px;
	}
	to {
		top: 0px;
	}
} 