@import 'global';

/* Custom Select2 */
.select2-container .select2-selection--single{
	height: 32px !important;
	border-radius: 5px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered{
	padding-left: 12px !important;
	padding-right: 32px !important;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	font-family: "Roboto","arial","tahoma" !important;
	font-size: 14px !important;
	color: #282828;
}

.select2-search--dropdown .select2-search__field{
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	font-family: "Roboto","arial","tahoma" !important;
	font-size: 14px !important;
	color: #282828;
}

.select2-results__option,{
	font-family: "Roboto","arial","tahoma" !important;
	font-size: 14px !important;
	color: #282828;
}

.select2-container--default .select2-results__option--selected{
	padding-top: 3px !important;
	padding-bottom: 3px !important;
	font-family: "Roboto","arial","tahoma" !important;
	font-size: 14px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 32px !important;
	top: 0px !important;
	width: 30px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b{
	background: url("../../assets/images/icon/icon-down.svg") no-repeat right #fff !important;
	border: none !important;
	height: 12px !important;
	width: 12px !important;
	margin: auto !important;
	top: 10px !important;
	left: 8px !important;
}

/* End Custom Select2 */

.content-left{
	width: 816px;
	float: left;
}

.content-right{
	width: 320px;
	float: right;
	padding-left: 20px;
}

.content-full{
	width: 1136px;
}

.text-blue{
	color: $color-primary;
}

.text-green{
	color: $color-secondary;
}

.text-brown{
	color: #b44b2c;
}

// Ads
.ads-billboard{
	width: 970px;
	display: block;
	margin: 10px auto 30px;
}

.ads-artikel{
	width: 728px;
	display: block;
	margin: 40px auto;
}

.ads-rectangle{
	width: 300px;
	margin: 0px 0px 20px;
}

// Not Found
.page-img-not-found{
	margin: 65px 0px 36px;

	img{
		width: 442px;
		display: block;
		margin: auto;
	}
}

.keyword-not-found{
	font-family: $roboto-medium;
	font-size: 24px;
	color: $color-caption;
	text-align: center;
	margin-bottom: 12px;
}

.desc-not-found{
	font-family: $roboto-medium;
	font-size: 20px;
	color: $color-caption;
	text-align: center;
	margin-bottom: 100px;
}

.desc-not-found-light{
	font-size: 20px;
	color: $color-caption;
	text-align: center;
	margin-bottom: 36px;
}

.title-not-found{
	font-family: $roboto-bold;
	margin-bottom: 15px;
	font-size: 42px;
	text-align: center;
	margin-bottom: 36px;
}

.back-not-found{
	font-family: $roboto-medium;
	font-size: 20px;
	color: $color-caption;
	text-align: center;

	a{
		color: $color-secondary;

		&:hover, &:focus{
			text-decoration: none;
			color: $color-primary;
		}
	}
}

// Share Article
.warp-share-social{
	padding: 24px 0px;
	border-top: 1px dotted $color-caption;
	border-bottom: 1px dotted $color-caption;
	text-align: center;
	margin: 20px 0px;

	ul{
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	li{
		display: inline-block;
		margin-right: 24px;

		&:last-child{
			margin-right: 0px;
		}

		img{
			width: 48px;
			height: 48px;
		}
	}
}

.title-share-social{
	font-size: 20px;
	font-family: $roboto-medium;
	padding: 10px 0px;
}

// Filter Bar
.head-filter-bar{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 15px;
}

.title-filter-bar{
	width: 60%;
	font-family: $roboto-bold;
	font-size: 20px;
	font-weight: bold;
	color: $color-caption;
	padding: 5px 0px;
}

.keyword{
	color: $color-primary !important;
}

.warp-filter-bar{
	width: 40%;
	text-align: right;
}

.cmb-kanal, .date-filter{
	border: 1px solid rgba(145, 145, 145, 0.54);
	border-radius: 5px;
	padding: 8px 12px;
	font-family: $roboto-reguler;
	font-size: 14px;
	color: $color-caption !important;
	
	background: url("../../assets/images/icon/icon-down.svg") no-repeat right #fff;
    background-position-x: right;
	background-origin: content-box;
	background-position-y: center;
	background-size: 9px;
	-webkit-appearance: none;
	cursor: pointer;
}

.cmb-kanal{
	width: 140px;
}

.date-filter{
	width: 175px;
}

.btn-filter-search {
	padding-left: 5px;
		width: 44px;
	border: none;
	font-size: 15px;
	color: #fff;
	background-color: #198639;
	padding: 8px 12px;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
}

// Util Section
.title-section{
	position: relative;
	font-size: 20px;
	padding-bottom: 7px;
	border-bottom: 2px solid $color-border;
	color: $color-caption;

	.bold{
		font-family: $roboto-bold;
	}

	&:after{
		position: absolute;
		content: "";
		border-bottom: 4px solid $color-primary;
		right: 0;
		bottom: -5px;
		width: 60px;
	}
}

.warp-title-section-sm{
	position: relative;
	width: 100%;

	&:after{
		position: absolute;
		content: "";
		left: 0;
		top: 11px;
		border-bottom: 2px solid $color-border;
		width: 100%;
		z-index: -1;
	}


	&:before{
		position: absolute;
		content: "";
		border-bottom: 4px solid $color-primary;
		right: 0;
		bottom: 12px;
		width: 60px;
	}
}

.title-section-sm{
	font-size: 14px;
	padding-bottom: 7px;
	padding-right: 11px;
	color: $color-caption;
	font-family: $roboto-bold;
	width: max-content;
	background-color: #fff;

	a{
		color: $color-primary;

		&:hover, &:focus{
			color: $color-secondary;
			text-decoration: none;
		}
	}

	i{
		margin: 0px 10px;
	}
}

// Util Label
.label-kanal{
	font-family: $roboto-bold;
	font-size: 10px;
	padding: 4px 6px;
	border-radius: 4px;
	color: #fff;
	width: max-content;
}

.label-kanal-float{
	position: absolute;
	top: 12px;
	left: 12px;
	font-family: $roboto-bold;
	font-size: 10px;
	padding: 4px 6px;
	border-radius: 4px;
	color: #fff;
	width: max-content;
}

.global-news{ background-color: #fd3d39; }
.wirausaha-syariah{ background-color: #fe9526; }
.lifestyle{ background-color: #fd3259; }
.wisata-halal{ background-color: #53d86a; }
.home-garden{ background-color: #777777; }
.community{ background-color: #595bd4; }
.edukasi{ background-color: #3cabdb; }
.sosok-muslim{ background-color: #6f4848; }
.masjid{ background-color: #d5b401; }
.quran-digital{ background-color: #054C59; }

.text-label-kanal{
	font-family: $roboto-bold;
	font-size: 14px;

	&:after{
		content: "\2022";
		margin: 0px 8px;
		color: $color-caption !important;
	}
}

.title-kanal-page{
	font-family: $roboto-bold;
	font-size: 24px;
	margin-bottom: 24px;
}

.label-global-news{ color: #fd3d39; }
.label-wirausaha-syariah{ color: #fe9526; }
.label-lifestyle{ color: #fd3259; }
.label-wisata-halal{ color: #53d86a; }
.label-home-garden{ color: #777777; }
.label-community{ color: #595bd4; }
.label-edukasi{ color: #3cabdb; }
.label-sosok-muslim{ color: #6f4848; }
.label-masjid{ color: #d5b401; }
.label-quran-digital{ color: #054C59; }

.date{
	font-size: 12px;
	color: #252525;
	margin-left: -4px;
}

// More Button
.more{
	padding: 12px 60px;
	text-align: center;
	margin: 60px auto;
	outline: none;

	a{
		font-size: 18px;
		background-color: $color-secondary;
		padding: 12px 60px;
		color: #fff;
		border-radius: 8px;
		text-decoration: none;
		transition: $link-trans;

		&:hover, &:focus{
			background-color: $color-primary;
		}
	}
}

// Back to Top
.btn-2top {
	display: none;
	position: fixed;
	z-index: 80;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	border: none;
	background: none;

	&:focus{
		outline: none; 
	}

	img{
		width: 40px;
		height: 40px;
	}
}

// Paging
.paging{
	width: 100%;
	text-align: center;
	font-size: 0;
	margin: 50px 0px;

	ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	li{
		display: inline-block;
		padding: 6px 0px;
		border: 2px solid $color-caption;
		margin-left: 8px;
		background-color: #fff;
		border-radius: 5px;

		&:hover, &:focus{
			background-color: #fff;
			border: 2px solid $color-secondary;

			a{
				text-decoration: none;
				color: $color-secondary;
			}
		}
	}

	a{
		font-size: 14px;
		font-weight: bold;
		color: $color-caption;
		padding: 8px 13px;
	}

	li.active{
		background-color: #fff;
		border: 2px solid $color-secondary;
	}

	li.active a{
		color: $color-secondary;
	}
}

// Headline
.warp-headline{
	display: flex;
	flex-wrap: wrap;
}

.left-headline{
	width: 494px;
}

.headline{
	width: 100%;
	color: $color-caption;
}

.img-headline{
	width: 494px;
	margin-bottom: 8px;

	img{
		width: 494px;
		height: 269px;
		object-fit: cover;
	}
}

.title-headline{
	margin-top: 12px;
	margin-bottom: 8px;
	font-family: $roboto-bold;
	font-size: 28px;

	a{
		color: $color-caption;
		transition: $link-trans;

		&:hover, &:focus{
			text-decoration: none;
			color: $color-primary;
		}
	}
}

.desc-headline{
	font-size: 14px;
}

.right-headline{
	width: 322px;
	padding-left: 20px;
}

.list-headline{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.img-list-headline{
	width: 100px;

	img{
		width: 100px;
		height: 100px;
		object-fit: cover;
	}
}

.desc-list-headline{
	width: 202px;
	padding-left: 8px;
}

.title-list-headline{
	margin-top: 8px;

	a{
		font-family: $roboto-bold;
		font-size: 16px;
		font-weight: bold;
		transition: $link-trans;
		color: $color-caption;

		&:hover, &:focus{
			text-decoration: none;
			color: $color-primary;
		}
	}
}

// Rekomendasi
.section-rekomendasi{
	position: relative;
	margin: 32px 0px;
	padding: 0px 0px 19px;
	border-bottom: 2px solid $color-border;

	.swiper-slide{
		width: 204px;
		font-family: $roboto-bold;
		padding: 12px  12px 16px;
		box-shadow: 0 2px 5px 0 rgba(65, 65, 65, 0.15);
		border-radius: 4px;
		background: rgba(195, 187, 187, 0.15);
		margin: 12px 20px 19px 0px;
	}
}

.img-rekomendasi{
	width: 100%;

	img{
		width: 100%;
		height: 160px;
		object-fit: cover;
	}
}

.title-rekomendasi{
	margin-top: 8px;

	a{
		color: $color-caption;
		font-family: $roboto-bold;
		font-size: 16px;
		transition: $link-trans;

		&:hover, &:focus{
			text-decoration: none;
			color: $color-primary;
		}
	}
}

.control-rekomendasi{
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
}

.rekomendasi-next, .rekomendasi-prev{
	float: right;
	margin-left: 12px;
	cursor: pointer;

	img{
		width: 22px;
		height: 22px;
	}
}

// Berita Terkini
.list-berita-terkini{
	margin-top: 32px;
	display: flex;
	flex-wrap: wrap;
}

.img-berita-terkini{
	width: 200px;

	img{
		width: 200px;
		height: 180px;
		object-fit: cover;
	}
}

.warp-desc-berita-terkini{
	width: 616px;
	padding-left: 20px;
}

.head-berita-terkini{
	margin-bottom: 12px;
}

.title-berita-terkini{
	margin-bottom: 8px;

	a{
		color: $color-caption;
		font-family: $roboto-bold;
		font-size: 20px;
		transition: $link-trans;

		&:hover, &:focus{
			text-decoration: none;
			color: $color-primary;
		}
	}
}

.desc-berita-terkini{
	font-size: 14px;
	color: $color-caption;
}

// Jadwal Sholat
.jadwal-sholat{
	position: relative;
	margin-bottom: 20px;

	img{
		width: 300px;
	}
}

.content-jadwal-sholat{
	position: absolute;
	width: 100%;
	top: 110px;
	left: 0px;
	text-align: center;
	padding: 0px 27px;
}

.title-jadwal{
	font-size: 24px;
}

.t-jadwal{
	color: $color-caption;
	margin-right: 5px;
}

.t-sholat{
	font-family: $roboto-bold;
	color: #198639;
}

.lokasi-tanggal{
	margin-bottom: 8px;
	font-size: 12px;
}

.group-cmb-lokasi{
	font-size: 10px;
	margin-bottom: 8px;
}

// Cmb Lokasi
.label-lokasi{
	width: 15%;
	font-weight: bold;
	float: left;
	text-align: left;
	padding: 5px 0px;
}

.cmb-lokasi{
	width: 85%;
	float: left;
	border: 1px solid rgba(0, 0, 0, 0.2);
	color: rgba(37, 37, 37, 0.54);
	padding: 7px 10px 7px 10px;
	background: rgba(236, 236, 236, 0.2);
	border-radius: 4px;

	background: url("../../assets/images/icon/icon-down.svg") no-repeat right rgba(236, 236, 236, 0.2);
    background-position-x: right;
	background-origin: content-box;
	background-position-y: center;
	background-size: 9px;
	-webkit-appearance: none;
	cursor: pointer;
}

// List Jadwal
.list-jadwal{
	margin: 0px -5px;
}

.warp-list-jadwal{
	float: left;
	width: 33.33%;
	padding: 0px 5px;
	margin-bottom: 10px;
}

.list-jadwal-sholat{
	border-radius: 5px 5px 0px 0px;
	box-shadow: 0 2px 5px 0 rgba(65, 65, 65, 0.15);
}

.title-sholat{
	font-family: $roboto-reguler;
	padding: 5px 0px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	border-radius: 5px 5px 0px 0px;
}

.waktu-sholat{
	font-family: $roboto-bold;
	padding: 5px 0px;
	text-align: center;
	color: rgba(0, 0, 0, 0.57);
	font-size: 14px;
}

.tgl-jadwal{
	background-color: $color-secondary;
}

.imsak{
	background-image: linear-gradient(to bottom, #223076, #06050e);
}

.shubuh{
	background-image: linear-gradient(to bottom, #f1b14b, #bc2c35);
}

.dhuhur{
	background-image: linear-gradient(to bottom, #4bb5f1, #2f2cbc);
}

.ashar{
	background-image: linear-gradient(to bottom, #4bb5f1, #2f2cbc);
}

.maghrib{
	background-image: linear-gradient(to bottom, #f1b14b, #bc2c35);
}

.isya{
	background-image: linear-gradient(to bottom, #223076, #06050e);
}

.lihat-jadwal{
	text-align: center;
	font-size: 11px;
	color: $color-secondary;

	&:hover, &:focus{
		color: $color-secondary;
		text-decoration: underline;
	}
}

// Topik Populer
.section-topik-populer{
	margin-bottom: 20px;

	.top-populer, .list-populer{
		display: flex;
		flex-wrap: wrap;
		font-family: $roboto-reguler;
		font-size: 16px;
		border-bottom: 1px dotted #828282;
		transition: ease all 0.1s;

		&:hover{
			background-color: #f8f8f8;
			color: $color-caption !important;
		}
	}

	.top-populer{
		font-family: $roboto-bold !important;
	}

	a{
		width: 90%;
		display: block;
		color: $color-caption;
		padding: 18px 8px 18px;

		&:hover{
			text-decoration: none;
			color: $color-caption;
		}
	}

	.number{
		width: 10%;
		text-align: center;
		font-weight: bold;
		padding: 18px 8px 10px;
		text-align: center;

		img{
			margin-left: -4px !important;
		}
	}
}

// Artikel Populer
.section-artikel-populer{
	margin-bottom: 20px;
}

.artikel-populer{
	margin: 20px 0px;
}

.head-list-artikel-populer{
	margin-bottom: 11px;
	padding-bottom: 11px;
	border-bottom: 1px dotted #828282;
}

.img-artikel-populer{
	position: relative;

	img{
		width: 100%;
		height: 200px;
	}
}

.title-artikel-populer{
	margin-top: 8px;

	a{
		font-family: $roboto-bold;
		font-size: 16px;
		color: $color-caption;
		transition: $link-trans;

		&:hover, &:focus{
			text-decoration: none;
			color: $color-primary;
		}
	}
}

.list-artikel-populer{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 11px;
	padding-bottom: 11px;
	border-bottom: 1px dotted #828282;
}

.img-list-artikel-populer{
	width: 90px;

	img{
		width: 90px;
		height: 90px;
		object-fit: cover;
	}
}

.desc-list-artikel-populer{
	width: 210px;
	padding-left: 8px;
}

.title-list-artikel-populer{
	margin-top: 8px;

	a{
		font-family: $roboto-medium;
		font-size: 14px;
		transition: $link-trans;
		color: $color-caption;

		&:hover, &:focus{
			text-decoration: none;
			color: $color-primary;
		}
	}
}

// Kanal
.warp-kanal-slide{
	position: relative;
	padding: 20px;
	border-radius: 4px;
  	box-shadow: 0 2px 5px 0 rgba(65, 65, 65, 0.15);
  	background-color: rgba(212, 212, 212, 0.15);

  	.swiper-container{
  		padding: 0px 0px 45px !important;
  	}

  	.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
  		bottom: 1px;
  	}

  	.swiper-pagination-bullet{
  		width: 12px;
		height: 12px;
  	}

  	.swiper-pagination-bullet-active{
  		width: 16px;
		height: 16px;
		margin: -2px 4px !important;
		background-color: $color-primary;
  	}
}

.list-kanal-slide{
	display: flex;
  	flex-wrap: wrap;
}

.img-kanal-slide{
	width: 50%;

	img{
		width: 100%;
		height: 267px;
	}
}

.warp-desc-kanal-slide{
	width: 50%;
	padding-left: 20px;
}

.title-kanal-slide{
	font-family: $roboto-bold;
	margin: 8px 0px;

	a{
		font-size: 28px;
		color: $color-caption;
		transition: $link-trans;

		&:hover, &:focus{
			text-decoration: none;
			color: $color-primary;
		}
	}
}

.desc-kanal-slide{
	font-size: 14px;
	color: $color-caption;
}

.warp-control-slide-kanal{
	position: absolute;
	left: 0px;
	bottom: 10px;
	width: 100%;
	margin-top: 12px;
	z-index: 30;
}

.slide-kanal-next{
	float: right;
	cursor: pointer;
}

.slide-kanal-prev{
	float: left;
	cursor: pointer;
}

// Topik Kategori Page
.section-topik-kategori{
	margin-bottom: 20px;
}

.warp-topik-kategori{
	margin-top: 15px;
	display: flex;
	flex-wrap: wrap;
	padding: 8px 12px;
	box-shadow: 0 2px 5px 0 rgba(65, 65, 65, 0.15);
	background-color: #fafbff;
}

.img-topik-kategori{
	width: 20%;

	img{
		width: 100%;
		height: 84px;
		object-fit: cover;
		border-radius: 4px;
	}
}

.desc-topik-kategori{
	width: 80%;
	color: #252525;
	font-size: 16px;
	padding-left: 16px;
}

.title-topik-kategori{
	font-family: $roboto-bold;
	font-size: 24px;
	margin-top: 16px;
	color: $color-caption;
}

// Search Result
.section-search-result{
	margin-bottom: 20px;
}

.list-search-result{
	position: relative;
	width: 100%;
	border-top: 2px solid $color-border;

	&:before{
		position: absolute;
		content: "";
		border-top: 4px solid $color-primary;
		right: 0;
		top: -1px;
		width: 60px;
	}
}

.list-berita-result{
	margin-top: 32px;
	display: flex;
	flex-wrap: wrap;
}

.img-berita-result{
	width: 250px;

	img{
		width: 250px;
		height: 200px;
		object-fit: cover;
	}
}

.warp-desc-berita-result{
	width: 886px;
	padding-left: 20px;
}

.head-berita-result{
	margin-bottom: 12px;
}

.title-berita-result{
	margin-bottom: 8px;

	a{
		color: $color-caption;
		font-family: $roboto-bold;
		font-size: 24px;
		transition: $link-trans;

		&:hover, &:focus{
			text-decoration: none;
			color: $color-primary;
		}
	}
}

.desc-berita-result{
	font-size: 16px;
	color: $color-caption;
}

// Jadwal Sholat
.section-jadwal-page{
	margin-top: 23px;
}

.head-jadwal-page{
	display: flex;
	flex-wrap: wrap;
}

.warp-title-jadwal-page{
	width: 50%;
	font-size: 28px;
	color: $color-caption;
}

.title-jadwal-page{
	font-family: $roboto-bold;
	color: $color-secondary;
}

.title-sub-jadwal-page{
	font-family: $roboto-bold;
	font-size: 18px;
	color: $color-caption;
}

.warp-pilihan-kota{
	width: 50%;
	text-align: right;

	.title-pilihan-kota{
		font-family: $roboto-bold;
		font-size: 14px;
		color: $color-caption;
	}

	.cmb-lokasi{
		width: 190px !important;
		margin-top: 12px;
		font-size: 10px;
		float: right;
	}
}

.table-jadwal-page{
	margin: 32px -2px 60px -2px;

	table{
		width: 100%;
	}

	th, td{
		width: 14.24%;
		font-size: 16px;
	}

	thead tr th {
		font-family: $roboto-reguler !important;
	}

    tbody tr td {
		font-family: $roboto-bold;
		text-align: center;
		padding: 12px 0px;
    }

    tbody tr{
		background-color: #fafbff;
    }

    tbody tr:nth-child(even){
    	background-color: #f3f6ff;
    }

	.title-sholat{
		width: 100%;
	}
}

// Detail
.title-news-detail{
	font-family: $roboto-bold;
	font-size: 34px;
	color: $color-caption;
	margin-bottom: 16px;
}

.head-news-detail{
	margin-bottom: 12px;
}

.img-news-detail{
	margin-bottom: 8px;

	img{
		width: 100%;
		height: 445px;
		object-fit: cover;
	}
}

.desc-img-news-detail{
	font-size: 14px;
	color: $color-caption;
	margin-bottom: 24px;
}

.warp-desc-news-detail{
	display: flex;
	flex-wrap: warp;
}

.ads-skyscrapper{
	width: 160px;

	img{
		width: 160px;
		height: auto;
	}
}

.desc-news-detail{
	width: 656px;
	font-family: $roboto-reguler;
	padding-left: 20px;
	color: $color-caption;
	font-size: 18px;

	.baca-juga{
		margin-bottom: 16px;
		a{
			color: $color-secondary;
			transition: $link-trans;

			&:hover, &:focus{
				text-decoration: none;
				color: $color-primary;
			}
		}	
	}

	img{
		width: 100%;
		margin: 24px 0px;
	}

	.inisial-editor{
		font-family: $roboto-bold;
		font-size: 17px;
		margin-bottom: 43px;
	}
}

.list-topik{
	margin: 16px 0px 32px;

	ul{
		padding: 0px;
		margin: 0px;
		list-style-type: none;
	}

	li{
		display: inline-block;
		margin-top: 25px;
	}

	a{
		padding: 8px 20px;
		border: 1px solid $color-secondary;
		border-radius: 10px;
		font-family: $roboto-medium;
		font-size: 18px;
		color: $color-secondary;
		transition: $link-trans;
		margin: 8px 16px 10px 0px;

		&:hover, &:focus{
			text-decoration: none;
			border: 1px solid $color-primary;
			color: $color-primary;
		}
	}
}

.warp-list-berita-terkait{
	display: flex;
	flex-wrap: wrap;
	margin: 0px -10px;
}

.list-berita-terkait{
	width: 258px;
	padding: 12px;
  	border-radius: 4px;
  	box-shadow: 0 2px 5px 0 rgba(65, 65, 65, 0.15);
  	margin: 20px 10px 0px;

  	img{
  		width: 100%;
  		height: 132px;
  		object-fit: cover;
  		margin-bottom: 8px;
  	}
}

.title-berita-terkait{
	a{
		font-family: $roboto-bold;
		font-size: 16px;
		color: $color-caption;
		transition: $link-trans;

		&:hover, &:focus{
			color: $color-primary;
			text-decoration: none;
		}
	}
}

// About
.head-about{
	padding: 120px 0px 162px;
	background: linear-gradient(63deg, rgba(183,198,255,1) 0%, rgba(221,226,242,1) 40%, rgba(255,255,255,1) 57%, rgba(243,246,255,1) 70%, rgba(255,255,255,1) 84%);
	position: relative;
    z-index: -1;

	img{
		width: 350px;
		margin: auto;
		display: block;
	}
}

.img-bg-awan{
	position: absolute;
	z-index: -1;
	top: 210px;
	width: 100%;
}

.img-bg-1{
	width: 100%;
}

.desc-about{
	position: relative;
	padding: 50px 0px;
	background-color: #282a57;
	color: #fff;
	font-size: 18px;
	font-family: $roboto-reguler;
	border-radius: 0px 0px 50px 50px;

	.title-about{
		font-family: $roboto-bold;
		font-size: 36px;
		border-bottom: 2px solid #fff;
		padding-bottom: 31px;
		margin-bottom: 31px;
		text-align: center;
		margin-top: 80px;
	}

	.img-logo-about{
		width: 350px;
		margin: auto;
		display: block;
	}

	.tagline{
		font-size: 18px;
		color: #fff;
		margin: 10px 0px 10px;
		text-align: center;
		display: block;
	}

	.img-awan-1{
		position: absolute;
		width: 248px;
		top: -200px;
		left: 0px;
		z-index: 30;
	}

	.img-awan-2{
		position: absolute;
		width: 300px;
		top: 100px;
		right: 0px;
		z-index: 30;
	}
}

.management-about{
	padding: 50px 0px 100px;
	background-color: #fff;
	color: #252525;
	font-size: 18px;
	font-family: $roboto-medium;
	text-align: center;
	position: relative;

	.title-management{
		font-family: $roboto-bold;
		color: #252525;
		font-size: 36px;
		border-bottom: 2px solid #252525;
		padding-bottom: 31px;
		margin-bottom: 31px;
		text-align: center;
	}

	.title-posisi{
		margin: 40px 0px 10px;
		color: #252525;
		font-size: 14px;
		font-family: $roboto-reguler;
	}

	.bg-m-1{
		width: 118px;
		position: absolute;
		top: 170px;
		right: 150px;
	}

	.bg-m-2{
		width: 81px;
		position: absolute;
		bottom: 200px;
		right: 0px;
	}

	.bg-m-3{
		width: 230px;
		position: absolute;
		top: 200px;
		left: 0px;
	}
}

.role-about{
	padding: 50px 0px;
	background-color: $color-secondary;
	color: #fff;
	font-size: 18px;
	font-family: $roboto-medium;
	border-radius: 100px 0px 100px 0px;
	position: relative;

	.bg-role{
		width: 297px;
		position: absolute;
		top: -90px;
		right: 35px;
	}

	.tab-role{
		border-bottom: 1px solid #fff;
		text-align: center;
	}

	.tab-link{
		background-color: $color-secondary;
		color: #fff;
		padding: 10px 20px;
		cursor: pointer;
		border: none;
		width: 30%;
		text-align: center;
	}

	.tab-role button.active {
	  	background-color: #fff;
		color: $color-secondary;
		padding: 10px 20px;
		border-radius: 20px 20px 0px 0px;
		border: none;
	}

	.tabcontent{
		padding: 40px 0px;
		animation: fadeEffect 1s;
		font-family: $roboto-reguler;
	}

	@keyframes fadeEffect {
	  	from {opacity: 0;}
	  	to {opacity: 1;}
	}

	.title-tabcontent{
		font-family: $roboto-medium;
		font-size: 24px;
		color: #fff;
		margin-bottom: 24px;
	}

	.subtitle-tabcontent{
		font-size: 22px;
		color: #fff;
	}

	#more-pedoman{
		display: none;
	}

	.btn-more-pedoman{
		border: none;
		padding: 12px 35px;
		background-color: #fff;
		font-size: 18px;
		color: $color-secondary;
		margin: 60px auto;
		cursor: pointer;
		border-radius: 10px;
		text-align: center;
		display: block;
		transition: $link-trans;

		&:hover{
			background-color: $color-secondary;
			color: #fff;
		}
	}

	.desc-tabcontent{
		position: relative;
		font-size: 18px;
		color: #fff;

		.read-more{
			position: absolute; 
			bottom: 0px; 
			left: 0;
			width: 100%; 
			text-align: center; 
			margin: 0; 
			padding: 90px 0;
			background-image: linear-gradient(to bottom, rgba(21, 202, 73, 0), #198639);
		}
	}
}

.privacy-policy{
	padding: 50px 0px;
	background-color: #fff;

	.desc-privacy-policy{
		border-bottom: 2px dotted $color-caption;
	}

	.title-privacy-policy{
		width: 100%; 
		text-align: center; 
		border-top: 2px dotted $color-caption; 
		line-height: 0.1em;
		margin: 10px 0 34px;

		span{
			font-family: $roboto-bold;
			font-size: 36px;
			color: $color-caption;
			background-color: #fff; 
    		padding: 0px 50px; 
		}

	}

	#more-privacy{
		display: none;
	}

	.btn-more-privacy{
		border: none;
		padding: 12px 35px;
		background-color: $color-secondary;
		font-size: 18px;
		color: #fff;
		margin: 60px auto;
		cursor: pointer;
		border-radius: 10px;
		text-align: center;
		display: block;
		transition: $link-trans;

		&:hover{
			background-color: #fff;
			color: $color-secondary;
		}
	}
}

.kontak-kami{
	padding: 50px 0px;
	background-color: #fff;

	.title-kontak-kami{
		color: $color-caption;
		font-size: 36px;
		font-family: $roboto-bold;
		margin-bottom: 32px;
		text-align: center;
	}

	.desc-kontak-kami{
		color: $color-caption;
		font-size: 18px;
		font-family: $roboto-reguler;
		margin-bottom: 32px;
		text-align: center;
	}

	.col-kontak{
		width: 20%;

		img{
			width: 80px;
			margin: 0px auto 40px;
			display: block;
		}
	}

	.title-kontak{
		font-size: 18px;
		font-family: $roboto-bold;
		font-weight: bold;
		color: $color-caption;
		margin-bottom: 5px;
		text-align: center;
	}

	.detail-kontak{
		font-size: 14px;
		font-family: $roboto-reguler;
		color: $color-caption;
		margin-bottom: 5px;
		text-align: center;
	}
}

.karir{
	padding: 50px 0px;
	background-color: #fff;

	.banner-karir{
		width: 30%;
		background-color: $color-primary;
		padding: 36px 48px;
		border-radius: 0px 20px 20px 0px;

		img{
			width: 216px;
			display: block;
			margin: 0px auto 12px;
		}
	}

	.title-banner-karir{
		font-size: 48px;
		font-family: $roboto-bold;
		font-weight: bold;
		color: #fff;
		margin-bottom: 10px;
		text-align: center;
		border-bottom: 1px solid #fff;
	}

	.desc-banner-karir{
		font-size: 32px;
		font-family: $roboto-bold;
		font-weight: bold;
		color: #fff;
		margin-bottom: 8px;
		text-align: center;
	}

	.kirim-banner-karir{
		font-size: 24px;
		font-family: $roboto-reguler;
		color: #fff;
		margin-bottom: 24px;
		text-align: center;
	}

	.btn-banner-karir{
		font-size: 18px;
		font-family: $roboto-bold;
		font-weight: bold;
		color: #fff;
		background-color: $color-secondary;
		padding: 12px 30px;
		display: block;
		border-radius: 10px;
		text-align: center;
		transition: $link-trans;

		&:hover, &:focus{
			text-decoration: none;
			color: $color-secondary;
			background-color: #fff;
		}
	}

	.warp-list-karir{
		width: 70%;
		padding: 0px 32px;

		.title-list-karir{
			font-size: 36px;
			font-family: $roboto-bold;
			color: $color-caption;
			margin-bottom: 16px;
			text-align: center;
		}
	}

	.list-karir{
		width: 329px !important;
		border: 3px dotted #303030;
		border-radius: 30px;
		padding: 20px;
	}

	.header-karir{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 12px;

		img{
			width: 20%;
		}
	}

	.warp-title-karir{
		width: 80%;
		padding-left: 16px;

		.title-job{
			font-size: 24px;
			font-family: $roboto-bold;
			color: #000;
			margin-bottom: 5px;
		}

		.date-job{
			font-size: 12px;
			font-family: $roboto-reguler;
			color: $color-primary;
			margin-bottom: 5px;
		}
	}

	.desc-karir{
		font-size: 16px;
		font-family: $roboto-reguler;
		color: $color-caption;
		margin-bottom: 8px;
	}

	.title-kualifikasi{
		font-size: 14px;
		font-family: $roboto-bold;
		font-weight: bold;
		color: $color-primary;
		margin-bottom: 8px;
	}

	.kualifikasi-karir{
		ul{
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		li{
			margin-bottom: 5px;
			color: #000;
			font-size: 14px;
			font-family: $roboto-reguler;
			display: flex;
			flex-wrap: wrap;
		}

		i{
			width: 10%;	
			margin-top: 5px;			
			color: #dfdfdf;
		}

		span{
			width: 90%;
		}
	}

	.control-karir{
		display: flex;
		flex-wrap: wrap;
		position: absolute;
		bottom: 0px;
		width: 100%;
		z-index: 50;
	}

	.karir-next{
		width: 50%;
		text-align: right;
		cursor: pointer;
	}

	.karir-prev{
		width: 50%;
		cursor: pointer;
	}

	.swiper-container{
		padding: 0px 0px 60px;
	}

	.swiper-pagination-bullet{
		width: 16px !important;
		height: 16px !important;
		background: $color-secondary !important;
	}

	.swiper-pagination-bullet-active{
		background: $color-secondary !important;
	}
}

/* Quran Digital */
.banner-murotal{
	width: 100%;
	margin-bottom: 20px;
}

.widget-quran-digital{
	// background-image: 
	// 	url('../images/header-quran-digital.png'),
	// 	url('../images/footer-quran-digital.png');
	// background-position: 
	// 	left top,
	// 	left bottom;
	margin: 44px 0px;
	width: 100%;
	height: auto;
	border-radius: 10px;
	background: #fafbff;

	img{
		width: 100%;
	}

	.box-ayat{
		width: 100%;
		padding: 0px 32px;
	}

	.ayat{
		margin: 20px 0px 32px;
		font-family: "NotoArabic";
		font-size: 25px;
		color: #282828;
		text-align: right;
	}

	.terjemah{
		font-family: $roboto-reguler;
		font-size: 16px;
		color: #282828;
		margin-bottom: 20px;
	}

	.warp-footer-qd{
		margin-bottom: 24px;
		display: flex;
		flex-wrap: wrap;

		.title-surat{
			width: calc(100% - 120px);
			font-family: $roboto-bold;
			font-size: 16px;
			color: #054C59;
		}

		.more-surat{
			width: 120px;
			font-family: $roboto-bold;
			font-size: 14px;

			a{
				color: #054C59;
				padding: 8px 16px;
				background: #fafbff;
				border: 1px solid #054C59;
				border-radius: 50px;
				transition: ease all 0.3s;

				&:hover{
					background-color: #054C59;
					color: #fafbff;
				}
			}
		}
	}
}

/* Quran Detail */
.search-quran{
	margin: 24px 0px;
	display: flex;
	flex-wrap: wrap;

	.title-search{
		width: calc(100% - 244px);
		font-size: 28px;

		.bold{
			font-family: $roboto-bold;
			color: #198639;
		}

		.light{
			font-family: $roboto-light;
			color: #252525;
		}
	}

	.title-surat{
		width: calc(100% - 244px);
		color: #054C59;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 32px;
		padding-bottom: 16px;
		border-bottom: 1px solid #828282;
		
		.nama-surat{
			font-size: 24px;
			font-family: $roboto-bold;
			margin-left: 12px;
		}

		.arti-surat{
			font-size: 18px;
			font-family: $roboto-reguler;
			margin-left: 12px;
			position: relative;
			top: 4px;
		}

		.no-surat{
			background-image: url('../images/ayat.png');
			background-size: 100% 100%;
			width: 36px;
			height: 36px;
			font-family: $roboto-bold;
			font-size: 14px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.warp-search{
		position: relative;
		width: 244px;

		input{
			width: 100%;
			height: 32px;
			border: 1px solid #CECECE;
			border-radius: 8px;
			font-family: $roboto-reguler;
			font-size: 14px;
			color: #979797;
			padding: 5px 35px 5px 12px;
			transition: ease all 0.3s;
			background-color: #fff;

			&:focus{
				border: 1px solid $color-primary;
				color: #252525;
				outline: none;
			}
		}

		button{
			width: 32px;
			height: 30px;
			position: absolute;
			right: 1px;
			top: 1px;
			border: none;
			background-color: #fff;
			border-radius: 10px;
			cursor: pointer;

			i{
				font-size: 16px;
				color: #054C59;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

.warp-list-quran{
	display: flex;
	flex-wrap: wrap;
	margin: 0px -8px;

	.list-quran{
		width: 33.33%;
		padding: 10px 8px;
		
		.warp-surat{
			display: flex;
			flex-wrap: wrap;
			padding: 8px 12px;
			border: 1px solid #C4C4C4;
			border-radius: 10px;
			color: #054C59;
			transition: ease all 0.4s;

			.no-surat{
				background-image: url('../images/ayat.png');
				background-size: 100% 100%;
				width: 36px;
				height: 36px;
				font-family: $roboto-bold;
				font-size: 14px;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.warp-nama-surat{
				width: calc(100% - 36px);
				padding-left: 12px;

				.nama-surat{
					font-family: $roboto-bold;
					font-size: 20px;
					margin-bottom: 4px;
				}

				.arti-surat{
					font-family: $roboto-reguler;
					font-size: 12px;
				}
			}

			&:hover{
				color: #fff;
				background-color: #054C59;

				.no-surat{
					background-image: url('../images/ayat-active.png');
				}
			}
		}

		.active{
			color: #fff;
			background-color: #054C59;

			.no-surat{
				background-image: url('../images/ayat-active.png');
			}
		}

		
	}
}

/* Quran Ayat */
.head-ayat{
	margin: 32px 0px;
	display: flex;
	flex-wrap: wrap;
}

.warp-cmb-surat{
	width: 244px;
	height: 32px;
	display: flex;
	flex-wrap: wrap;

	select{
		width: 100%;
		border: 1px solid #CECECE;
		border-radius: 10px;
		padding: 5px 12px;
		font-family: $roboto-reguler;
		font-size: 14px;
		color: #979797;
		background: url("../../assets/images/icon/icon-down.svg") no-repeat right rgba(255,255,255,1);
	    background-position-x: right;
	    background-position-y: center;
	    background-size: auto;
	    background-origin: padding-box;
		background-position-x: right;
		background-origin: content-box;
		background-position-y: center;
		background-size: 9px;
		-webkit-appearance: none;
		cursor: pointer;
	}
}

.player-surat{
	width: calc(100% - 244px - 173px);
	padding: 0px 12px;
}

.btn-back-surat{
	width: 173px;
	height: 30px;
	text-align: center;

	a{	
		padding: 5px 10px;
		display: block;
		font-family: $roboto-reguler;
		font-size: 14px;
		color: #fff;
		background-color: #198639;
		border: 1px solid #198639;
		border-radius: 10px;
		transition: ease all 0.3s;

		&:hover{
			color: #198639;
			background-color: #fff;
		}
	}
}

.search-ayat{
	margin: 24px 0px 32px;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 16px;
	border-bottom: 1px solid #cacaca;

	.title-surat{
		width: calc(100% - 244px);
		color: #054C59;
		display: flex;
		flex-wrap: wrap;
		
		.nama-surat{
			font-size: 24px;
			font-family: $roboto-bold;
			margin-left: 12px;
		}

		.arti-surat{
			font-size: 18px;
			font-family: $roboto-reguler;
			margin-left: 12px;
			position: relative;
			top: 4px;
		}

		.no-surat{
			background-image: url('../images/ayat.png');
			background-size: 100% 100%;
			width: 36px;
			height: 36px;
			font-family: $roboto-bold;
			font-size: 14px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.warp-search{
		position: relative;
		width: 244px;

		input{
			width: 100%;
			height: 32px;
			border: 1px solid #CECECE;
			border-radius: 8px;
			font-family: $roboto-reguler;
			font-size: 14px;
			color: #979797;
			padding: 5px 35px 5px 12px;
			transition: ease all 0.3s;
			background-color: #fff;

			&:focus{
				border: 1px solid $color-primary;
				color: #252525;
				outline: none;
			}
		}

		button{
			width: 32px;
			height: 30px;
			position: absolute;
			right: 1px;
			top: 1px;
			border: none;
			background-color: #fff;
			border-radius: 10px;
			cursor: pointer;

			i{
				font-size: 16px;
				color: #054C59;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

.warp-quran-ayat, .warp-quran-ayat-tafsir{
	margin-bottom: 32px;
	padding-bottom: 32px;
	border-bottom: 1px solid #cacaca;

	.ayat-surat{
		width: 100%;
		margin-bottom: 12px;

		.ayat{
			font-family: "Scheherazade_new";
			font-size: 45px;
			color: #282828;
			text-align: right;
			margin-bottom: 12px;
			line-height: 90px;
		}

		.ayat-latin{
			font-family: $roboto-reguler;
			font-size: 14px;
			color: #252525;
			text-align: right;
		}
	}

	.terjemah{
		width: 100%;
		font-family: $roboto-bold;
		font-size: 20px;
		color: #252525;
		margin-bottom: 12px;
	}

	.warp-juz{
		display: flex;
		flex-wrap: wrap;

		.juz{
			font-family: $roboto-bold;
			font-size: 18px;
			color: #054C59;

			&:after{
				content: "|";
				font-size: 18px;
				color: #054C59;
				margin: 0px 12px 0px 6px;
			}
		}

		.btn-tafsir{
			img{
				width: 20px;
				margin-left: 12px;
			}

			a{
				font-family: $roboto-reguler;
				font-size: 14px;
				color: #fff;
				padding: 4px 12px;
				border-radius: 10px;
				background-color: #054C59;
				transition: ease all 0.3s;

				&:hover{
					background-color: #198639;
				}
			}
		}
	}
}

/* Tafsir */
.warp-quran-ayat-tafsir{
	border-bottom: none;
	margin-bottom: 24px;
	padding-bottom: 0px;

	.warp-juz{
		.juz{
			&:after{
				content: "";
				margin: 0px;
			}
		}
	}
}

.warp-tafsir{
	font-family: $roboto-reguler;
	font-size: 16px;
	color: #282828;

	.title-tafsir{
		font-family: $roboto-bold;
		font-size: 24px;
		color: #252525;
		margin-bottom: 12px;
	}

	.sumber-tafsir{
		font-family: $roboto-reguler;
		font-size: 14px;
		color: #989898;
		margin-top: 32px;
	}

	.keterangan-tafsir{
		margin: 32px 0px 60px;
		padding-top: 32px;
		border-top: 1px solid #cacaca;

		.title-keterangan{
			font-family: $roboto-bold;
			font-size: 16px;
			color: #282828;
			margin-bottom: 12px;
		}
	}
}

.warp-navigasi-tafsir{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 60px;

	.nav-prev-tafsir{
		display: block;
		font-family: $roboto-reguler;
		font-size: 16px;
		color: #4F4F4F;
		padding: 8px 16px;
		border: 1px solid #198639;
		border-radius: 10px;
		background-color: #fff;
		transition: ease all 0.3s;

		&:hover{
			color: #fff;
			background-color: #198639;
		}
		
		i{
			margin-right: 12px;
		}
	}

	.nav-next-tafsir{
		float: right;
		display: block;
		font-family: $roboto-reguler;
		font-size: 16px;
		color: #4F4F4F;
		padding: 8px 16px;
		border: 1px solid #198639;
		border-radius: 10px;
		background-color: #fff;
		transition: ease all 0.3s;
		margin-left: auto;

		&:hover{
			color: #fff;
			background-color: #198639;
		}

		i{
			margin-left: 12px;
		}
	}
}

/* Murottal */
.head-murottal{
	margin: 24px 0px;
	display: flex;
	flex-wrap: wrap;
}

.warp-cmb-surat-murottal{
	width: 244px;
	height: 32px;
	display: flex;
	flex-wrap: wrap;

	select{
		width: 100%;
		border: 1px solid #CECECE;
		border-radius: 10px;
		padding: 5px 12px;
		font-family: $roboto-reguler;
		font-size: 14px;
		color: #979797;
		background: url("../../assets/images/icon/icon-down.svg") no-repeat right rgba(255,255,255,1);
	    background-position-x: right;
	    background-position-y: center;
	    background-size: auto;
	    background-origin: padding-box;
		background-position-x: right;
		background-origin: content-box;
		background-position-y: center;
		background-size: 9px;
		-webkit-appearance: none;
		cursor: pointer;
	}
}

.player-surat-murottal{
	width: calc(100% - 244px);
	padding-left: 12px;
}

/* floating Player */

.floating-player{
	position: fixed;
	bottom: -400px;
	left: 0px;
	right: 0px;
	margin: auto;
	width: 848px;
	z-index: 88;
	background-color: #054C59;
	border-radius: 50px;
	padding: 12px 16px;
	display: flex;
	flex-wrap: wrap;
	box-shadow: 0 3px 10px rgba(0,0,0,0.2);
	transition: ease all 0.7s;

	.warp-cmb-surat{
		width: 244px;
		height: 32px;

		select{
			width: 100%;
			border: 1px solid #CECECE;
			border-radius: 10px;
			padding: 5px 12px;
			font-family: $roboto-reguler;
			font-size: 14px;
			color: #979797;
			background: url("../../assets/images/icon/icon-down.svg") no-repeat right rgba(255,255,255,1);
		    background-position-x: right;
		    background-position-y: center;
		    background-size: auto;
		    background-origin: padding-box;
			background-position-x: right;
			background-origin: content-box;
			background-position-y: center;
			background-size: 9px;
			-webkit-appearance: none;
			cursor: pointer;
		}
	}

	.player-surat{
		width: calc(100% - 244px - 173px);
		padding:0px 12px;
	}

	.btn-back-surat{
		width: 173px;
		height: 30px;
		text-align: center;

		a{	
			padding: 5px 10px;
			display: block;
			font-family: $roboto-reguler;
			font-size: 14px;
			color: #fff;
			background-color: #198639;
			border: 1px solid #198639;
			border-radius: 10px;
			transition: ease all 0.3s;

			&:hover{
				color: #198639;
				background-color: #fff;
			}
		}
	}

	.player-surat-murotal{
		width: calc(100% - 244px);
		padding:0px 12px;
	}
}

.floating-player-show{
	bottom: 10px;
}

