@import 'global';

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399px) {
	.container{
	    width: 1130px !important;
	    max-width: 1130px !important;
	}

	.col-section-footer{
		float: left;
		width: 50%;
		font-family: $roboto-medium;
		font-size: 11px;
		padding: 20px 0px 0px;

		i{
			margin-right: 5px;
			color: #fff;
		    font-size: 11px;
		}

		a{
			color: #fff;
			padding-bottom: 3px;
			transition: $link-trans;

			&:hover, &:focus{
				color: #fff;
				text-decoration: none;
				border-bottom: 1px dotted #fff;
			}
		}
	}
}