@import 'global';

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
	.text-blue{
		color: $color-primary;
	}

	.text-green{
		color: $color-secondary;
	}

	.text-brown{
		color: #b44b2c;
	}

	// Util Section
	.title-section{
		position: relative;
		font-size: 16px;
		padding-bottom: 7px;
		border-bottom: 2px solid $color-border;
		color: $color-caption;

		.bold{
			font-family: $roboto-bold;
		}

		&:after{
			position: absolute;
			content: "";
			border-bottom: 4px solid $color-primary;
			right: 0;
			bottom: -5px;
			width: 60px;
		}
	}

	.img-page{
		margin: 170px auto 38px;
		display: block;
		width: 160px;
	}

	.desc-page{
		position: relative;
		font-size: 16px;
		font-family: $roboto-medium;
		border-top: 2px solid $color-border;
		padding-top: 20px;
		color: #9c9c9c;
		text-align: center;
		width: max-content;
		margin: auto;

		&:after{
			position: absolute;
			content: "";
			border-bottom: 4px solid $color-primary;
			right: 0;
			top: -1px;
			width: 60px;
		}
	}

	.warp-title-section-sm{
		position: relative;
		width: 100%;
		margin-bottom: 20px;

		&:after{
			position: absolute;
			content: "";
			left: 0;
			top: 11px;
			border-bottom: 2px solid $color-border;
			width: 100%;
			z-index: -1;
		}
	}

	.title-section-sm{
		font-size: 14px;
		padding-bottom: 7px;
		padding-right: 11px;
		color: $color-caption;
		font-family: $roboto-bold;
		width: max-content;
		background-color: #fff;

		a{
			color: $color-primary;

			&:hover, &:focus{
				color: $color-secondary;
				text-decoration: none;
			}
		}

		i{
			margin: 0px 10px;
		}
	}

	// Back to Top
	.btn-2top {
		display: none;
		position: fixed;
		z-index: 80;
		bottom: 20px;
		right: 20px;
		cursor: pointer;
		border: none;
		background: none;

		&:focus{
			outline: none; 
		}

		img{
			width: 32px;
			height: 32px;
		}
	}

	// Share Article
	.warp-share-social{
		padding: 24px 15px;
		border-top: 1px dotted $color-caption;
		border-bottom: 1px dotted $color-caption;
		text-align: center;
		margin: 20px -15px;

		ul{
			padding: 0;
			margin: 0;
			list-style-type: none;
		}

		li{
			display: inline-block;
			margin-right: 16px;

			&:last-child{
				margin-right: 0px;
			}

			img{
				width: 36px;
				height: 36px;
			}
		}
	}

	.title-share-social{
		font-size: 16px;
		font-family: $roboto-medium;
		padding: 10px 0px;
		margin-bottom: 12px;
	}

	// Util Label
	.label-kanal{
		font-family: $roboto-bold;
		font-size: 10px;
		padding: 4px 6px;
		border-radius: 4px;
		color: #fff;
		width: max-content;
	}

	.label-kanal-float{
		position: absolute;
		top: 12px;
		left: 12px;
		font-family: $roboto-bold;
		font-size: 10px;
		padding: 4px 6px;
		border-radius: 4px;
		color: #fff;
		width: max-content;
	}

	.global-news{ background-color: #fd3d39; }
	.wirausaha-syariah{ background-color: #fe9526; }
	.lifestyle{ background-color: #fd3259; }
	.wisata-halal{ background-color: #53d86a; }
	.home-garden{ background-color: #777777; }
	.community{ background-color: #595bd4; }
	.edukasi{ background-color: #3cabdb; }
	.sosok-muslim{ background-color: #6f4848; }
	.masjid{ background-color: #d5b401; }
	.quran-digital{ background-color: #054C59; }

	.text-label-kanal{
		font-family: $roboto-bold;
		font-size: 10px;
	}

	.title-kanal-page{
		font-family: $roboto-bold;
		font-size: 20px;
		margin-bottom: 12px;
	}

	.label-global-news{ color: #fd3d39; }
	.label-wirausaha-syariah{ color: #fe9526; }
	.label-lifestyle{ color: #fd3259; }
	.label-wisata-halal{ color: #53d86a; }
	.label-home-garden{ color: #777777; }
	.label-community{ color: #595bd4; }
	.label-edukasi{ color: #3cabdb; }
	.label-sosok-muslim{ color: #6f4848; }
	.label-masjid{ color: #d5b401; }
	.label-quran-digital{ color: #054C59; }

	.date{
		font-size: 9px;
		color: #252525;
		margin-bottom: 4px;
	}

	// Ads
	.ads-billboard{
		width: 320px;
		display: block;
		margin: 0px auto 20px;
	}

	.ads-rectangle{
		width: 300px;
		display: block;
		margin: 20px auto;
	}

	// More Button
	.more{
		padding: 12px 0px;
		text-align: center;
		margin: 60px auto;
		outline: none;

		a{
			font-size: 18px;
			background-color: $color-secondary;
			padding: 12px 60px;
			color: #fff;
			border-radius: 8px;
			text-decoration: none;
			transition: $link-trans;

			&:hover, &:focus{
				background-color: $color-primary;
			}
		}
	}

	// Filter
	.warp-filter-bar{
		width: 100%;
		padding: 20px 0px 10px;
	}

	.cmb-kanal, .date-filter{
		border: 1px solid rgba(145, 145, 145, 0.54);
		border-radius: 5px;
		padding: 8px 12px;
		font-family: $roboto-reguler;
		font-size: 14px;
		color: $color-caption !important;
		
		background: url("../../assets/images/icon/icon-down.svg") no-repeat right #fff;
	    background-position-x: right;
		background-origin: content-box;
		background-position-y: center;
		background-size: 9px;
		-webkit-appearance: none;
		cursor: pointer;

		&:focus{
			outline: none;
		}
	}

	.cmb-kanal{
		width: 35%;
	}

	.date-filter{
		width: 50%;
	}

	.btn-filter-search {
		padding-left: 5px;
		width: 12%;
		border: none;
		font-size: 15px;
		color: #fff;
		background-color: #198639;
		padding: 8px 9px;
		border-radius: 5px;
		cursor: pointer;
		text-align: center;
	}

	// Paging
	.paging{
		width: 100%;
		text-align: center;
		font-size: 0;
		margin: 50px 0px;

		ul{
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		li{
			display: inline-block;
			padding: 6px 0px;
			border: 2px solid $color-caption;
			margin-left: 8px;
			background-color: #fff;
			border-radius: 5px;

			&:hover, &:focus{
				background-color: #fff;
				border: 2px solid $color-secondary;

				a{
					text-decoration: none;
					color: $color-secondary;
				}
			}
		}

		a{
			font-size: 14px;
			font-weight: bold;
			color: $color-caption;
			padding: 8px 13px;
		}

		li.active{
			background-color: #fff;
			border: 2px solid $color-secondary;
		}

		li.active a{
			color: $color-secondary;
		}
	}

	// Header
	.hide-body{
		position: fixed;
		top: 0;
		height: 100%;
		z-index: 98;
		left: 0;
		background-color: rgba(0,0,0,0);
	}

	.block-body{
		width: 100%;
		background-color: rgba(0,0,0,0.8);
		animation: fadein 1s;
		-moz-animation: fadein 1s; /* Firefox */
		-webkit-animation: fadein 1s; /* Safari and Chrome */
		-o-animation: fadein 1s; /* Opera */
	}

	@keyframes fadein {
	    from {
	        opacity:0;
	    }
	    to {
	        opacity:1;
	    }
	}
	@-moz-keyframes fadein { /* Firefox */
	    from {
	        opacity:0;
	    }
	    to {
	        opacity:1;
	    }
	}
	@-webkit-keyframes fadein { /* Safari and Chrome */
	    from {
	        opacity:0;
	    }
	    to {
	        opacity:1;
	    }
	}
	@-o-keyframes fadein { /* Opera */
	    from {
	        opacity:0;
	    }
	    to {
	        opacity: 1;
	    }
	}


	// Stop Scrolling If Nav Side Show
	.stop-scrolling { 
	    height: 100%; 
	    overflow: hidden; 
	} 

	// Header Icon Menu
	.warp-header{
		position: fixed;
		z-index: 99;
		top: 0;
		width: 100%;
		padding: 10px 0px;
		border-bottom: 1px solid #eaeaea;
		background-color: #fff;
		-webkit-box-shadow: 0px 1px 5px 0px rgba(212,212,212,1);
		-moz-box-shadow: 0px 1px 5px 0px rgba(212,212,212,1);
		box-shadow: 0px 1px 5px 0px rgba(212,212,212,1);
	}

	// Logo Head
	.logo-head{
		width: 70%;

		img{
			width: 148px;
			display: block;
			margin: auto;
			padding: 8px 0px;
		}
	}

	// Icon Search
	.search-icon{
		width: 15%;
		text-align: right;
		cursor: pointer;
		font-size: 24px;
		padding: 11px 0px;

		a{
			color: $color-secondary;

			&:hover, &:focus{
				text-decoration: none;
				color: $color-secondary;
			}
		}
	}

	// Nav Icon
	.nav-icon {
		width: 15%;
		display: inline-block;
		cursor: pointer;
		padding: 17px 0px;
	}

	.ico-drop-nav{
		padding-left: 5%;
	}
	
	.bar1, .bar2, .bar3 {
		height: 3px;
		background-color: $color-secondary;
		margin: 5px 0;
		transition: 0.4s;
		border-radius: 2px;
	}

	.bar1{
		width: 22px;
	}

	.bar2{
		width: 22px;
	}

	.bar3{
		width: 22px;
	}

	.change .bar1 {
		width: 25px;
		-webkit-transform: rotate(-45deg) translate(-5px, 5px);
		transform: rotate(-45deg) translate(-5px, 5px);
	}

	.change .bar2 {
		opacity: 0;
	}

	.change .bar3 {
		width: 25px;
		-webkit-transform: rotate(45deg) translate(-6px, -6px);
		transform: rotate(45deg) translate(-6px, -6px);
	}


	// Nav Sub
	nav{
		margin-top: 85px;
		margin-bottom: 16px;

		.swiper-slide{
			width: auto;
			font-family: $roboto-bold;
			padding: 19px  0px;
			position: relative;
		}

		a{
			font-family: $roboto-bold;
			font-size: 12px;
			color: #fff;
			background: $color-primary;
			padding: 19px 13px;
			transition: $link-trans;

			&:hover, &:focus{
				text-decoration: none;
				color: #fff;
				background: $color-secondary;
				padding: 25px 13px 19px;
				border-radius: 5px 5px 0px 0px;
			}

			img{
				width: 24px;
				height: 24px;
			}
		}

		.active{
			background: $color-secondary;
			padding: 25px 13px 19px;
			border-radius: 5px 5px 0px 0px;
		}
	}

	.nav-next, .nav-prev{
		width: 10%;
		float: left;
		cursor: pointer;
		background: $color-primary;
		margin: 6.5px 0px 6px;
		padding: 14px 0px;

		img{
			width: 24px;
			display: block;
			margin: auto;
		}
	}

	.nav-text{
		position: relative;
		width: 80%;
		float: left;

		&:after{
			position: absolute;
			top: 6.5px;
			content: "";
			height: 52px;
			background: $color-primary;
			width: 100%;
		}
	}

	// Nav Slide
	.nav-slide{
		position: fixed;
		top: -1500px;
		left: 0px;
		padding: 0px 15px;
		background-color: #fff;
		width: 100%;
		height: 100%;
		z-index: 97;
		overflow-y: scroll;
		transition: all .5s ease-in-out;
	}

	.nav-slide-primary{
		margin: 24px 0px 58px;

		a{
			color: $color-caption;
			font-family: $roboto-medium;
			font-size: 16px;
			text-align: center;
			margin-bottom: 32px;
			display: block;

			&:hover, &:focus{
				text-decoration: none;
				color: $color-caption;
			}
		}
	}

	.nav-slide-social{
		font-family: $roboto-reguler;
		font-size: 24px;
		color: $color-primary;
		text-align: center;
		margin-bottom: 70px;

		ul{
			list-style-type: none;
			padding: 0px;
			margin: 59px 0px 0px;
		}

		li{
			display: inline-block;
			margin-right: 8px;

			&:last-child{
				margin-right: 0px;
			}
		}

		a{
			font-size: 25px;
		}
	}

	a.social-fb{
		color: $color-fb !important; 
	}

	a.social-tw{
		color: $color-tw !important
	}

	a.social-ig{
		color: $color-ig !important;
	}

	a.social-yt{
		color: $color-yt !important;
	}

	.nav-slide-secondary{
		padding: 24px 0px 58px;
		margin-bottom: 30px;

		a{
			color: $color-caption;
			font-size: 16px;
			text-align: center;
			margin-bottom: 32px;
			display: block;

			&:hover, &:focus{
				text-decoration: none;
				color: $color-caption;
			}
		}
	}

	// Headline
	.img-headline{
		position: relative;
		margin-bottom: 4px;

		img{
			width: 100%;
			height: 204px;
			object-fit: cover;
		}
	}

	.title-headline{
		margin-bottom: 4px;

		a{
			color: $color-caption;
			font-size: 22px;
			font-family: $roboto-bold;

			&:hover, &:focus{
				color: $color-primary;
				text-decoration: none;
			}
		}
	}

	.desc-headline{
		color: $color-caption;
		font-size: 12px;
		margin-bottom: 24px;
	}

	// List Headline
	.list-headline{
		margin-bottom: 24px;
		display: flex;
	}

	.img-list-headline{
		width: 30%;

		img{
			width: 100%;
			height: 100px;
			object-fit: cover;
		}
	}

	.desc-list-headline{
		width: 70%;
		padding-left: 8px;
	}

	.title-list-headline{
		margin-top: 8px;

		a{
			color: $color-caption;
			font-size: 16px;
			font-family: $roboto-bold;

			&:hover, &:focus{
				color: $color-primary;
				text-decoration: none;
			}
		}
	}

	// Jadwal Sholat
	.jadwal-sholat{
		position: relative;
		margin-bottom: 20px;

		img{
			width: 100%	;
		}
	}

	.content-jadwal-sholat{
		position: absolute;
		width: 100%;
		top: 155px;
		left: 0px;
		text-align: center;
		padding: 0px 27px;
	}

	.title-jadwal{
		font-size: 24px;
	}

	.t-jadwal{
		color: $color-caption;
		margin-right: 5px;
	}

	.t-sholat{
		font-family: $roboto-bold;
		color: #198639;
	}

	.lokasi-tanggal{
		margin-bottom: 8px;
		font-size: 12px;
	}

	.group-cmb-lokasi{
		font-size: 10px;
		margin-bottom: 8px;
	}

	// Cmb Lokasi
	.label-lokasi{
		width: 15%;
		font-weight: bold;
		float: left;
		text-align: left;
		padding: 5px 0px;
	}

	.cmb-lokasi{
		width: 85%;
		float: left;
		border: 1px solid rgba(0, 0, 0, 0.2);
		color: rgba(37, 37, 37, 0.54);
		padding: 7px 10px 7px 10px;
		background: rgba(236, 236, 236, 0.2);
		border-radius: 4px;

		background: url("../../assets/images/icon/icon-down.svg") no-repeat right rgba(236, 236, 236, 0.2);
	    background-position-x: right;
		background-origin: content-box;
		background-position-y: center;
		background-size: 9px;
		-webkit-appearance: none;
		cursor: pointer;
	}

	// List Jadwal
	.list-jadwal{
		margin: 0px -5px 10px -5px;
	}

	.warp-list-jadwal{
		float: left;
		width: 33.33%;
		padding: 0px 5px;
		margin-bottom: 10px;
	}

	.list-jadwal-sholat{
		border-radius: 5px 5px 0px 0px;
		box-shadow: 0 2px 5px 0 rgba(65, 65, 65, 0.15);
	}

	.title-sholat{
		font-family: $roboto-reguler;
		padding: 5px 0px;
		text-align: center;
		color: #fff;
		font-size: 14px;
		border-radius: 5px 5px 0px 0px;
	}

	.waktu-sholat{
		font-family: $roboto-bold;
		padding: 5px 0px;
		text-align: center;
		color: rgba(0, 0, 0, 0.57);
		font-size: 14px;
	}

	.tgl-jadwal{
		background-color: $color-secondary;
	}

	.imsak{
		background-image: linear-gradient(to bottom, #223076, #06050e);
	}

	.shubuh{
		background-image: linear-gradient(to bottom, #f1b14b, #bc2c35);
	}

	.dhuhur{
		background-image: linear-gradient(to bottom, #4bb5f1, #2f2cbc);
	}

	.ashar{
		background-image: linear-gradient(to bottom, #4bb5f1, #2f2cbc);
	}

	.maghrib{
		background-image: linear-gradient(to bottom, #f1b14b, #bc2c35);
	}

	.isya{
		background-image: linear-gradient(to bottom, #223076, #06050e);
	}

	.lihat-jadwal{
		text-align: center;
		font-size: 14px;
		color: $color-secondary;

		&:hover, &:focus{
			color: $color-secondary;
			text-decoration: underline;
		}
	}

	// Berita Terkini
	.list-berita-terkini{
		margin-top: 20px;
		display: flex;
		flex-wrap: wrap;
	}

	.img-berita-terkini{
		width: 30%;

		img{
			width: 100%;
			height: 100px;
			object-fit: cover;
		}
	}

	.warp-desc-berita-terkini{
		width: 70%;
		padding-left: 8px;
	}

	.title-berita-terkini{
		margin-bottom: 8px;

		a{
			color: $color-caption;
			font-family: $roboto-bold;
			font-size: 16px;
			transition: $link-trans;

			&:hover, &:focus{
				text-decoration: none;
				color: $color-primary;
			}
		}
	}

	// Berita Terkini Big
	.berita-terkini-big{
		margin: 24px -15px;
	}

	.img-berita-terkini-big{
		position: relative;

		&:after{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(to bottom, rgba(60, 85, 179, 0), #252525);
		}

		img{
			width: 100%;
			height: 226px;
			object-fit: cover;
		}
	}

	.warp-title-berita-terkini-big{
		position: absolute;
		padding: 0px 20px 20px;
		z-index: 2;
		bottom: 0;
		left: 0;
	}

	.title-berita-terkini-big{
		margin-top: 8px;

		a{
			color: #fff;
			font-family: $roboto-bold;
			font-size: 20px;
			transition: $link-trans;

			&:hover, &:focus{
				text-decoration: none;
				color: $color-secondary;
			}
		}
	}

	// Rekomendasi
	.section-terpopuler, .section-rekomendasi, .section-berita-terkait{
		position: relative;
		margin: 30px 0px 0px;
		padding: 0px;

		.swiper-slide{
			width: 204px;
			font-family: $roboto-bold;
			padding: 12px  12px 16px;
			box-shadow: 0 2px 5px 0 rgba(65, 65, 65, 0.15);
			border-radius: 4px;
			background: rgba(195, 187, 187, 0.15);
			margin: 12px 20px 19px 0px;
		}
	}

	.img-terpopuler, .img-rekomendasi, .img-berita-terkait{
		width: 100%;

		img{
			width: 100%;
			height: 160px;
			object-fit: cover;
		}
	}

	.title-terpopuler, .title-rekomendasi, .title-berita-terkait{
		margin-top: 8px;

		a{
			color: $color-caption;
			font-family: $roboto-bold;
			font-size: 16px;
			transition: $link-trans;

			&:hover, &:focus{
				text-decoration: none;
				color: $color-primary;
			}
		}
	}

	.control-terpopuler, .control-rekomendasi, .control-berita-terkait{
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
	}

	.terpopuler-next, .terpopuler-prev, .rekomendasi-next, .rekomendasi-prev, .berita-terkait-next, .berita-terkait-prev{
		float: right;
		margin-left: 12px;
		cursor: pointer;

		img{
			width: 22px;
			height: 22px;
		}
	}

	// Topik Populer
	.section-topik-populer{
		margin-bottom: 20px;

		.top-populer, .list-populer{
			display: flex;
			flex-wrap: wrap;
			font-family: $roboto-reguler;
			font-size: 16px;
			border-bottom: 1px dotted #828282;
			transition: ease all 0.1s;

			&:hover{
				background-color: #f8f8f8;
				color: $color-caption !important;
			}
		}

		.top-populer{
			font-family: $roboto-bold !important;
		}

		a{
			width: 90%;
			display: block;
			color: $color-caption;
			padding: 18px 8px 18px;

			&:hover{
				text-decoration: none;
				color: $color-caption;
			}
		}

		.number{
			width: 10%;
			text-align: center;
			font-weight: bold;
			padding: 18px 8px 10px;
			text-align: center;

			img{
				margin-left: -4px !important;
			}
		}
	}

	// Artikel Populer
	.section-artikel-populer{
		margin-bottom: 20px;
	}

	.artikel-populer{
		margin: 20px 0px;
	}

	.head-list-artikel-populer{
		margin-bottom: 11px;
		padding-bottom: 11px;
		border-bottom: 1px dotted #828282;
	}

	.img-artikel-populer{
		position: relative;

		img{
			width: 100%;
			height: 200px;
		}
	}

	.title-artikel-populer{
		margin-top: 8px;

		a{
			font-family: $roboto-bold;
			font-size: 16px;
			color: $color-caption;
			transition: $link-trans;

			&:hover, &:focus{
				text-decoration: none;
				color: $color-primary;
			}
		}
	}

	.list-artikel-populer{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 11px;
		padding-bottom: 11px;
		border-bottom: 1px dotted #828282;
	}

	.img-list-artikel-populer{
		width: 90px;

		img{
			width: 90px;
			height: 90px;
			object-fit: cover;
		}
	}

	.desc-list-artikel-populer{
		width: 210px;
		padding-left: 8px;
	}

	.title-list-artikel-populer{
		margin-top: 8px;

		a{
			font-family: $roboto-medium;
			font-size: 14px;
			transition: $link-trans;
			color: $color-caption;

			&:hover, &:focus{
				text-decoration: none;
				color: $color-primary;
			}
		}
	}

	// Search Page
	.warp-search-page{
		padding: 18px 20px;
  		box-shadow: 0 2px 5px 0 rgba(65, 65, 65, 0.15);
  		background-color: $color-primary;
  		border-radius: 0px 0px 10px 10px;
		display: flex;
		flex-wrap: wrap;
	}

	.search-page-cancel{
		width: 13%;
		padding: 7px 0px;

		img{
			width: 28px;
			height: 28px;
		}
	}

	.form-search-page{
		position: relative;
		width: 87%;
	}

	.search-input-page{
		background-color: rgba(12, 29, 118, 0.4);
		border-radius: 10px;
		border: solid 1px rgba(12, 29, 118, 0.4);
		padding: 7px 40px 7px 16px;
		color: #fff;
		font-size: 17px;
		outline: none;
		width: 100%;

		&:focus{
			border: solid 1px rgba(12, 29, 118, 0.4);
		}
	}

	.search-icon-page{
		font-family: FontAwesome;
		position: absolute;
		z-index: 2;
		right: 1px;
		top: 1px;
		padding: 5px 11px;
		border: none;
		cursor: pointer;
		color: #fff;
		font-size: 20px;
		background-color: rgba(12, 29, 118, 0);
		transition: right 0.5s;
		border-radius: 0px 10px 10px 0px;
	}

	// Footer
	footer{
		background-color: $color-primary;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 453px;
		padding: 57px 35px 24px;
	}

	.img-bg-footer{
		position: absolute;
		bottom: 425px;
		width: 100%;
		left: 0;
	}

	.logo-footer{
		margin: 0px auto;
		width: 178px;
		display: block;
	}

	.col-section-footer-left, .col-section-footer{
		float: left;
		font-family: $roboto-medium;
		font-size: 11px;
		padding: 24px 0px 0px;

		i{
			margin-right: 5px;
			color: #fff;
		    font-size: 11px;
		}

		a{
			color: #fff;
			padding-bottom: 3px;
			transition: $link-trans;

			&:hover, &:focus{
				color: #fff;
				text-decoration: none;
				border-bottom: 1px dotted #fff;
			}
		}
	}

	.col-section-footer-left{
		width: 55%;
	}

	.col-section-footer{
		width: 45%;
	}

	.footer-follow{
		font-family: $roboto-reguler;
		font-size: 16px;
		color: #fff;
		padding: 0px 40px;
	}

	.title-follow{
		margin-bottom: 16px;
		margin-top: 24px;
		text-align: center;
	}

	.col-follow{
		float: left;
		width: 25%;
		margin-bottom: 20px;
		text-align: center;

		i{
			background-color: #fff;
			border-radius: 50px;
			width: 32px;
		    height: 32px;
		    padding: 6px 5px;
		    font-size: 21px;
		}

		.fa-facebook{
			color: $color-fb;
		}

		.fa-twitter{
			color: $color-tw;
		}

		.fa-instagram{
			color: $color-ig;
		}

		.fa-youtube-play{
			color: $color-yt
		}
	}

	.copyright{
		background-color: #2742a8;
		font-size: 12px;
		padding: 12px 0px;
		color: #fff;
		text-align: center;
		margin-top: 84px;
		margin-left: -35px;
		margin-right: -35px;
	}

	// Kanal
	.warp-kanal-slide{
		position: relative;
		padding: 20px;
		border-radius: 4px;
	  	box-shadow: 0 2px 5px 0 rgba(65, 65, 65, 0.15);
	  	background-color: rgba(212, 212, 212, 0.15);
	  	margin-bottom: 32px;

	  	.swiper-container{
  			padding: 0px 0px 45px !important;
  		}

	  	.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	  		bottom: 1px;
	  	}

	  	.swiper-pagination-bullet{
	  		width: 12px;
			height: 12px;
	  	}

	  	.swiper-pagination-bullet-active{
	  		width: 16px;
			height: 16px;
			margin: -2px 4px !important;
			background-color: $color-primary;
	  	}
	}

	.list-kanal-slide{
		display: flex;
	  	flex-wrap: wrap;
	}

	.img-kanal-slide{
		width: 100%;
		margin-bottom: 12px;

		img{
			width: 100%;
			height: 235px;
		}
	}

	.title-kanal-slide{
		font-family: $roboto-bold;
		margin: 8px 0px;

		a{
			font-size: 22px;
			color: $color-caption;
			transition: $link-trans;

			&:hover, &:focus{
				text-decoration: none;
				color: $color-primary;
			}
		}
	}

	.desc-kanal-slide{
		font-size: 14px;
		color: $color-caption;
	}

	.warp-control-slide-kanal{
		position: absolute;
		left: 0px;
		top: 95px;
		width: 100%;
		margin-top: 12px;
		z-index: 30;
	}

	.slide-kanal-next{
		float: right;
		cursor: pointer;
	}

	.slide-kanal-prev{
		float: left;
		cursor: pointer;
	}

	// Detail
	.title-news-detail{
		font-family: $roboto-bold;
		font-size: 22px;
		color: $color-caption;
		margin-bottom: 16px;
	}

	.head-news-detail{
		margin-bottom: 20px;
	}

	.author-detail{
		font-size: 14px;
		font-family: $roboto-medium;
		color: $color-secondary;

		&:after{
			content: "\2022";
			margin: 0px 8px;
			color: $color-caption !important;
		}
	}

	.date-detail{
		font-size: 10px;
		color: $color-caption;
	}

	.img-news-detail{
		margin-bottom: 8px;
		margin-left: -15px;
		margin-right: -15px;

		img{
			width: 100%;
			height: 226px;
			object-fit: cover;
		}
	}

	.desc-img-news-detail{
		font-size: 12px;
		color: $color-caption;
		margin-bottom: 20px;
	}

	.warp-desc-news-detail{
		display: flex;
		flex-wrap: warp;
	}

	.desc-news-detail{
		font-family: $roboto-reguler;
		color: $color-caption;
		font-size: 16px;

		.baca-juga{
			margin-bottom: 16px;
			a{
				color: $color-secondary;
				transition: $link-trans;

				&:hover, &:focus{
					text-decoration: none;
					color: $color-primary;
				}
			}	
		}

		img{
			width: 100%;
			margin: 24px 0px;
		}

		.inisial-editor{
			font-family: $roboto-bold;
			font-size: 17px;
			margin-bottom: 43px;
		}
	}

	.list-topik{
		margin: 5px 0px 20px;

		ul{
			padding: 0px;
			margin: 0px;
			list-style-type: none;
		}

		li{
			display: inline-block;
			margin-top: 16px;
		}

		a{
			padding: 8px 20px;
			border: 1px solid $color-secondary;
			background-color: $color-secondary;
			border-radius: 10px;
			font-family: $roboto-medium;
			font-size: 14px;
			color: #fff;
			margin: 0px 16px 10px 0px;

			&:hover, &:focus{
				text-decoration: none;
				border: 1px solid $color-primary;
				color: #fff;
			}
		}
	}

	// Topik Kategori Page
	.section-topik-kategori{
		margin-bottom: 20px;
	}

	.warp-topik-kategori{
		margin-top: 15px;
		display: flex;
		flex-wrap: wrap;
		padding: 8px 12px;
		box-shadow: 0 2px 5px 0 rgba(65, 65, 65, 0.15);
		background-color: #fafbff;
	}

	.img-topik-kategori{
		width: 40%;

		img{
			width: 100%;
			height: 84px;
			object-fit: cover;
			border-radius: 4px;
		}
	}

	.desc-topik-kategori{
		width: 60%;
		color: #252525;
		font-size: 14px;
		padding-left: 16px;
	}

	.title-topik-kategori{
		font-family: $roboto-bold;
		font-size: 20px;
		margin-top: 12px;
		color: $color-caption;
	}

	// Hasil Pencarian
	.hasil-pencarian{
		font-family: $roboto-bold;
		font-size: 16px;
		color: $color-primary;
	}

	// Jadwal Sholat
	.section-jadwal-page{
		margin-top: 23px;
	}

	.head-jadwal-page{
		margin: 20px 0px 26px;
		text-align: center;
	}

	.warp-title-jadwal-page{
		font-size: 28px;
		color: $color-caption;
	}

	.title-jadwal-page{
		font-family: $roboto-bold;
		color: $color-secondary;
		margin-bottom: 8px;
	}

	.title-sub-jadwal-page{
		font-family: $roboto-bold;
		font-size: 18px;
		color: $color-caption;
		margin-bottom: 20px;
	}

	.warp-pilihan-kota{
		margin-bottom: 21px;
		display: flex;
		flex-wrap: wrap;

		.title-pilihan-kota{
			width: 40%;
			font-family: $roboto-bold;
			font-size: 14px;
			color: $color-caption;
		}

		.cmb-lokasi{
			width: 60% !important;
			font-size: 10px;
		}
	}

	.desc-util{
		font-family: $roboto-medium;
		font-size: 12px;
		text-align: center;
	}

	.table-jadwal-page{
		width: 100%;
		overflow-x: scroll;
		margin: 17px 0px;

		table{
			width: 775px;
		}

		th, td{
			width: 14.24%;
			font-size: 14px;
		}

		thead tr th {
			font-family: $roboto-reguler !important;
		}

	    tbody tr td {
			font-family: $roboto-bold;
			text-align: center;
			padding: 12px 0px;
	    }

	    tbody tr{
			background-color: #fafbff;
	    }

	    tbody tr:nth-child(even){
	    	background-color: #f3f6ff;
	    }

		.title-sholat{
			width: 100%;
		}
	}

	// Not Found
	.page-img-not-found{
		margin: 60px 0px 19px;

		img{
			width: 308px;
			display: block;
			margin: auto;
		}
	}

	.keyword-not-found{
		font-family: $roboto-medium;
		font-size: 16px;
		color: $color-caption;
		text-align: center;
		margin-bottom: 12px;
	}

	.desc-not-found{
		font-family: $roboto-medium;
		font-size: 13px;
		color: $color-caption;
		text-align: center;
		margin-bottom: 4px;
	}

	.desc-not-found-light{
		font-size: 12px;
		color: $color-caption;
		text-align: center;
		margin-bottom: 15px;
	}

	.title-not-found{
		font-family: $roboto-bold;
		margin-bottom: 15px;
		font-size: 24px;
		text-align: center;
		margin-bottom: 18px;
	}

	.back-not-found{
		font-family: $roboto-medium;
		font-size: 14px;
		color: $color-caption;
		text-align: center;
		margin-bottom: 15px;

		a{
			color: $color-secondary;

			&:hover, &:focus{
				text-decoration: none;
				color: $color-primary;
			}
		}
	}

	// About
	.warp-header-about{
		position: fixed;
		z-index: 99;
		top: 0;
		width: 100%;
		padding: 10px 0px;
		border-bottom: 1px solid #eaeaea;
		background-color: #fff;
		border-radius: 0px 0px 20px 20px;
		-webkit-box-shadow: 0px 1px 5px 0px rgba(212,212,212,1);
		-moz-box-shadow: 0px 1px 5px 0px rgba(212,212,212,1);
		box-shadow: 0px 1px 5px 0px rgba(212,212,212,1);
	}

	.nav-about{
		margin-top: 12px;

		.swiper-slide{
			width: auto;
			font-family: $roboto-reguler;
			position: relative;
		}

		a{
			font-family: $roboto-reguler;
			font-size: 16px;
			color: #777777;

			&:hover, &:focus{
				text-decoration: none;
				color: $color-secondary;
			}

			&:after{
				content: "|";
				color: #777777;
				padding-left: 12px;
				margin-right: 12px;
			}
		}

		.last{
			&:after{
				content: "";
				padding-left: 12px;
				margin-right: 12px;
			}
		}

		.active{
			color: $color-secondary;
		}
	}

	// Content About
	.head-about{
		padding: 80px 0px 160px;
		background: linear-gradient(63deg, rgba(183,198,255,1) 0%, rgba(221,226,242,1) 40%, rgba(255,255,255,1) 57%, rgba(243,246,255,1) 70%, rgba(255,255,255,1) 84%);
		position: relative;
	    z-index: -1;
	}

	.img-bg-awan{
		position: absolute;
		z-index: -1;
		top: 165px;
		width: 100%;
	}

	.img-bg-1{
		width: 100%;
	}

	.desc-about{
		position: relative;
		padding: 50px 0px;
		background-color: #282a57;
		color: #fff;
		font-size: 16px;
		font-family: $roboto-reguler;
		border-radius: 0px 0px 30px 30px;

		.title-about{
			font-family: $roboto-bold;
			font-size: 24px;
			border-bottom: 2px solid #fff;
			padding-bottom: 23px;
			margin-bottom: 23px;
			text-align: center;
			margin-top: 80px;
		}

		.img-logo-about{
			width: 200px;
			margin: auto;
			display: block;
		}

		.tagline{
			font-size: 16px;
			color: #fff;
			margin: 10px 0px 10px;
			text-align: center;
			display: block;
		}

		.img-awan-1{
			position: absolute;
			width: 100px;
			top: -40px;
			left: 0px;
			z-index: 30;
		}

		.img-awan-2{
			position: absolute;
			width: 110px;
			top: 170px;
			right: 0px;
			z-index: 30;
		}
	}

	.management-about{
		padding: 50px 0px 100px;
		background-color: #fff;
		color: #252525;
		font-size: 20px;
		font-family: $roboto-medium;
		position: relative;

		.title-management{
			font-family: $roboto-bold;
			color: #252525;
			font-size: 24px;
			border-bottom: 2px solid #252525;
			padding-bottom: 23px;
			margin-bottom: 23px;
			text-align: center;
		}

		.title-posisi{
			margin: 40px 0px 10px;
			color: #252525;
			font-size: 14px;
			font-family: $roboto-reguler;
		}
	}

	.role-about{
		padding: 50px 0px;
		background-color: $color-secondary;
		color: #fff;
		font-size: 16px;
		font-family: $roboto-medium;
		border-radius: 30px 0px 30px 0px;
		position: relative;

		.bg-role{
			width: 220px;
			position: absolute;
			top: -67px;
			right: 5px;
		}

		.tab-role{
			border-bottom: 1px solid #fff;
			text-align: center;
			overflow-y: scroll;
			white-space: nowrap;
		}

		.tab-link{
			background-color: $color-secondary;
			color: #fff;
			padding: 8px 12px;
			cursor: pointer;
			border: none;
			width: auto;
			text-align: center;

			&:focus{
				outline: none;
			}
		}

		.tab-role button.active {
		  	background-color: #fff;
			color: $color-secondary;
			padding: 8px 12px;
			border-radius: 10px 10px 0px 0px;
			border: none;
		}

		.tabcontent{
			padding: 40px 0px 0px;
			animation: fadeEffect 1s;
			font-family: $roboto-reguler;
		}

		@keyframes fadeEffect {
		  	from {opacity: 0;}
		  	to {opacity: 1;}
		}

		.title-tabcontent{
			font-family: $roboto-medium;
			font-size: 18px;
			color: #fff;
			margin-bottom: 24px;
		}

		.subtitle-tabcontent{
			font-size: 16px;
			color: #fff;
		}

		#more-pedoman{
			display: none;
		}

		.btn-more-pedoman{
			border: none;
			padding: 12px 35px;
			background-color: #fff;
			font-size: 18px;
			color: $color-secondary;
			margin: 60px auto 0px;
			cursor: pointer;
			border-radius: 10px;
			text-align: center;
			display: block;
			transition: $link-trans;

			&:hover{
				background-color: $color-secondary;
				color: #fff;
			}
		}

		.desc-tabcontent{
			position: relative;
			font-size: 18px;
			color: #fff;

			.read-more{
				position: absolute; 
				bottom: 0px; 
				left: 0;
				width: 100%; 
				text-align: center; 
				margin: 0; 
				padding: 90px 0;
				background-image: linear-gradient(to bottom, rgba(21, 202, 73, 0), #198639);
			}
		}
	}

	.privacy-policy{
		padding: 50px 0px 0px;
		background-color: #fff;

		.desc-privacy-policy{
			border-bottom: 2px dotted $color-caption;
		}

		.title-privacy-policy{
			width: 100%; 
			text-align: center; 
			border-top: 2px dotted $color-caption; 
			line-height: 0.1em;
			margin: 10px 0 24px;

			span{
				font-family: $roboto-bold;
				font-size: 24px;
				color: $color-caption;
				background-color: #fff; 
	    		padding: 0px 15px; 
			}

		}

		#more-privacy{
			display: none;
		}

		.btn-more-privacy{
			border: none;
			padding: 12px 35px;
			background-color: $color-secondary;
			font-size: 18px;
			color: #fff;
			margin: 10px auto 40px;
			cursor: pointer;
			border-radius: 10px;
			text-align: center;
			display: block;
			transition: $link-trans;

			&:hover{
				background-color: #fff;
				color: $color-secondary;
			}
		}
	}

	.kontak-kami{
		padding: 50px 0px 0px;
		background-color: #fff;

		.title-kontak-kami{
			color: $color-caption;
			font-size: 24px;
			font-family: $roboto-bold;
			margin-bottom: 24px;
			text-align: center;
		}

		.desc-kontak-kami{
			color: $color-caption;
			font-size: 16px;
			font-family: $roboto-reguler;
			margin-bottom: 32px;
			text-align: center;
		}

		.col-kontak{
			width: 100%;

			img{
				width: 80px;
				margin: 0px auto 16px;
				display: block;
			}
		}

		.title-kontak{
			font-size: 18px;
			font-family: $roboto-bold;
			font-weight: bold;
			color: $color-caption;
			margin-bottom: 5px;
			text-align: center;
		}

		.detail-kontak{
			font-size: 16px;
			font-family: $roboto-reguler;
			color: $color-caption;
			margin-bottom: 32px;
			text-align: center;
		}
	}

	.karir{
		padding: 50px 0px 0px;
		background-color: #fff;

		.banner-karir{
			width: 100%;
			background-color: $color-primary;
			padding: 32px 32px;

			img{
				width: 216px;
				display: block;
				margin: 0px auto 12px;
			}
		}

		.title-banner-karir{
			font-size: 48px;
			font-family: $roboto-bold;
			font-weight: bold;
			color: #fff;
			margin-bottom: 10px;
			text-align: center;
			border-bottom: 1px solid #fff;
		}

		.desc-banner-karir{
			font-size: 32px;
			font-family: $roboto-bold;
			font-weight: bold;
			color: #fff;
			margin-bottom: 8px;
			text-align: center;
		}

		.kirim-banner-karir{
			font-size: 24px;
			font-family: $roboto-reguler;
			color: #fff;
			margin-bottom: 24px;
			text-align: center;
		}

		.btn-banner-karir{
			font-size: 18px;
			font-family: $roboto-bold;
			font-weight: bold;
			color: #fff;
			background-color: $color-secondary;
			padding: 12px 30px;
			display: block;
			border-radius: 10px;
			text-align: center;
			transition: $link-trans;

			&:hover, &:focus{
				text-decoration: none;
				color: $color-secondary;
				background-color: #fff;
			}
		}

		.warp-list-karir{
			width: 100%;
			padding: 0px 32px;

			.title-list-karir{
				font-size: 24px;
				font-family: $roboto-bold;
				color: $color-caption;
				margin: 24px 0px 16px;
				text-align: center;
			}
		}

		.list-karir{
			width: 100% !important;
			border: 3px dotted #303030;
			border-radius: 30px;
			padding: 20px;
		}

		.header-karir{
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 12px;

			img{
				width: 20%;
			}
		}

		.warp-title-karir{
			width: 80%;
			padding-left: 16px;

			.title-job{
				font-size: 24px;
				font-family: $roboto-bold;
				color: #000;
				margin-bottom: 5px;
			}

			.date-job{
				font-size: 12px;
				font-family: $roboto-reguler;
				color: $color-primary;
				margin-bottom: 5px;
			}
		}

		.desc-karir{
			font-size: 16px;
			font-family: $roboto-reguler;
			color: $color-caption;
			margin-bottom: 8px;
		}

		.title-kualifikasi{
			font-size: 14px;
			font-family: $roboto-bold;
			font-weight: bold;
			color: $color-primary;
			margin-bottom: 8px;
		}

		.kualifikasi-karir{
			ul{
				list-style-type: none;
				padding: 0;
				margin: 0;
			}

			li{
				margin-bottom: 5px;
				color: #000;
				font-size: 14px;
				font-family: $roboto-reguler;
				display: flex;
				flex-wrap: wrap;
			}

			i{
				width: 10%;	
				margin-top: 5px;			
				color: #dfdfdf;
			}

			span{
				width: 90%;
			}
		}

		.control-karir{
			display: flex;
			flex-wrap: wrap;
			position: absolute;
			bottom: 0px;
			width: 100%;
			z-index: 50;
		}

		.karir-next{
			width: 50%;
			text-align: right;
			cursor: pointer;
		}

		.karir-prev{
			width: 50%;
			cursor: pointer;
		}

		.swiper-container{
			padding: 0px 0px 60px;
		}

		.swiper-pagination-bullet{
			width: 16px !important;
			height: 16px !important;
			background: $color-secondary !important;
		}

		.swiper-pagination-bullet-active{
			background: $color-secondary !important;
		}
	}

	/* Quran Digital */
	.banner-murotal{
		width: 100%;
	}

	.widget-quran-digital{
		// background-image: 
		// 	url('../images/header-quran-digital.png'),
		// 	url('../images/footer-quran-digital.png');
		// background-position: 
		// 	left top,
		// 	left bottom;
		margin: 24px 0px;
		width: 100%;
		height: auto;
		border-radius: 10px;
		background: #fafbff;

		img{
			width: 100%;
		}

		.box-ayat{
			width: 100%;
			padding: 0px 24px;
		}

		.ayat{
			margin: 20px 0px 20px;
			font-family: "NotoArabic";
			font-size: 22px;
			color: #282828;
			text-align: right;
		}

		.terjemah{
			font-family: $roboto-reguler;
			font-size: 16px;
			color: #282828;
			margin-bottom: 16px;
		}

		.warp-footer-qd{
			margin-bottom: 24px;
			display: flex;
			flex-wrap: wrap;

			.title-surat{
				width: calc(100% - 120px);
				font-family: $roboto-bold;
				font-size: 14px;
				color: #054C59;
			}

			.more-surat{
				width: 120px;
				font-family: $roboto-bold;
				font-size: 14px;

				a{
					color: #054C59;
					padding: 8px 16px;
					background: #fafbff;
					border: 1px solid #054C59;
					border-radius: 50px;
					transition: ease all 0.3s;
				}
			}
		}
	}

	.title-section-quran{
		position: relative;
		padding-bottom: 7px;
		border-bottom: 2px solid $color-border;
		color: $color-caption;

		.bold{
			font-family: $roboto-bold;
			font-size: 24px;
			color: #198639;
		}

		.light{
			font-family: $roboto-light;
			font-size: 24px;
			color: #252525;
		}

		&:after{
			position: absolute;
			content: "";
			border-bottom: 4px solid $color-primary;
			right: 0;
			bottom: -5px;
			width: 60px;
		}
	}

	.warp-list-quran{
		margin: 14px 0px 32px;

		.list-quran{
			width: 100%;
			padding: 6px 0px;
			
			.warp-surat{
				display: flex;
				flex-wrap: wrap;
				padding: 8px 12px;
				border: 1px solid #C4C4C4;
				border-radius: 10px;
				color: #054C59;

				.no-surat{
					background-image: url('../images/ayat.png');
					background-size: 100% 100%;
					width: 36px;
					height: 36px;
					font-family: $roboto-bold;
					font-size: 14px;
					display: flex;
					justify-content: center;
					align-items: center;
				}

				.warp-nama-surat{
					width: calc(100% - 36px);
					padding-left: 12px;

					.nama-surat{
						font-family: $roboto-bold;
						font-size: 20px;
						margin-bottom: 4px;
					}

					.arti-surat{
						font-family: $roboto-reguler;
						font-size: 12px;
					}
				}

				&:hover{
					color: #fff;
					background-color: #054C59;

					.no-surat{
						background-image: url('../images/ayat-active.png');
					}
				}
			}

			.active{
				color: #fff;
				background-color: #054C59;

				.no-surat{
					background-image: url('../images/ayat-active.png');
				}
			}
			
		}
	}

	/* Quran Ayat */
	.head-ayat{
		margin: 24px 0px;
		padding: 16px 0px;
		border-bottom: 1px solid #cacaca;
		border-top: 1px solid #cacaca;
	}

	.warp-cmb-surat{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin: auto;

		select{
			width: 100%;
			border: 1px solid #CECECE;
			border-radius: 10px;
			padding: 8px 16px;
			font-family: $roboto-reguler;
			font-size: 16px;
			color: #979797;
			background: url("../../assets/images/icon/icon-down.svg") no-repeat right rgba(255,255,255,1);
		    background-position-x: right;
		    background-position-y: center;
		    background-size: auto;
		    background-origin: padding-box;
			background-position-x: right;
			background-origin: content-box;
			background-position-y: center;
			background-size: 9px;
			-webkit-appearance: none;
			cursor: pointer;
		}
	}

	.search-ayat{
		margin: 24px 0px;
		display: flex;
		flex-wrap: wrap;
		
		.warp-surat{
			margin-left: 12px;
			color: #054C59;

			.nama-surat{
				font-size: 24px;
				font-family: $roboto-bold;
			}

			.arti-surat{
				font-size: 16px;
				font-family: $roboto-reguler;
			}
		}
	
		.no-surat{
			background-image: url('../images/ayat.png');
			background-size: 100% 100%;
			width: 36px;
			height: 36px;
			font-family: $roboto-bold;
			font-size: 14px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.warp-quran-ayat, ,.warp-quran-ayat-tafsir{
		margin-bottom: 24px;
		padding-bottom: 24px;
		border-bottom: 1px solid #cacaca;

		.ayat-surat{
			width: 100%;
			margin-bottom: 12px;

			.ayat{
				font-family: "Scheherazade_new";
				font-size: 35px;
				color: #282828;
				text-align: right;
				margin-bottom: 12px;
				line-height: 90px;
			}

			.ayat-latin{
				font-family: $roboto-reguler;
				font-size: 14px;
				color: #252525;
				text-align: right;
			}
		}

		.terjemah{
			width: 100%;
			font-family: $roboto-bold;
			font-size: 18px;
			color: #252525;
			margin-bottom: 16px;
		}

		.box-juz{
			width: 100%;
		}

		.warp-juz{
			display: flex;
			flex-wrap: wrap;
			justify-content: end;

			.juz{
				font-family: $roboto-bold;
				font-size: 16px;
				color: #054C59;

				&:after{
					content: "|";
					font-size: 18px;
					color: #054C59;
					margin: 0px 12px 0px 6px;
				}
			}

			.btn-tafsir{
				img{
					width: 20px;
					margin-left: 12px;
				}

				a{
					font-family: $roboto-reguler;
					font-size: 14px;
					color: #fff;
					padding: 4px 12px;
					border-radius: 10px;
					background-color: #054C59;
				}
			}
		}
	}

	.btn-back-surat{
		text-align: center;
		margin: 32px 0px;

		a{	
			padding: 8px 16px;
			font-family: $roboto-reguler;
			font-size: 18px;
			color: #fff;
			background-color: #198639;
			border: 1px solid #198639;
			border-radius: 10px;
		}
	}

	.float-player{
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
		z-index: 98;
	}

	/* Tafsir */
	.warp-quran-ayat-tafsir{
		.warp-juz{
			justify-content: left;

			.juz{
				&:after{
					content: "";
					margin: 0px;
				}
			}
		}
	}

	.warp-tafsir{
		font-family: $roboto-reguler;
		font-size: 16px;
		color: #282828;

		.title-tafsir{
			font-family: $roboto-bold;
			font-size: 18px;
			color: #252525;
			margin-bottom: 8px;
		}

		.sumber-tafsir{
			font-family: $roboto-reguler;
			font-size: 14px;
			color: #989898;
			margin-top: 20px;
		}

		.keterangan-tafsir{
			margin: 20px 0px 32px;
			padding-top: 20px;
			border-top: 1px solid #cacaca;

			.title-keterangan{
				font-family: $roboto-bold;
				font-size: 16px;
				color: #282828;
				margin-bottom: 12px;
			}
		}
	}

	.warp-navigasi-tafsir{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 32px;

		.nav-prev-tafsir{
			display: block;
			font-family: $roboto-reguler;
			font-size: 16px;
			color: #4F4F4F;
			padding: 8px 16px;
			border: 1px solid #198639;
			border-radius: 10px;
			background-color: #fff;
			
			i{
				margin-right: 12px;
			}
		}

		.nav-next-tafsir{
			float: right;
			display: block;
			font-family: $roboto-reguler;
			font-size: 16px;
			color: #fff;
			padding: 8px 16px;
			border: 1px solid #198639;
			border-radius: 10px;
			background-color: #198639;
			margin-left: auto;

			i{
				margin-left: 12px;
			}
		}
	}

	/* Murottal */
	.head-murottal{
		margin: 20px 0px;
		padding: 0px 0px 16px;
		border-bottom: 1px solid #cacaca;
	}

	.warp-cmb-surat-murottal{
		width: 100%;
		display: flex;
		flex-wrap: wrap;

		select{
			width: 100%;
			border: 1px solid #CECECE;
			border-radius: 10px;
			padding: 8px 16px;
			font-family: $roboto-reguler;
			font-size: 16px;
			color: #979797;
			background: url("../../assets/images/icon/icon-down.svg") no-repeat right rgba(255,255,255,1);
		    background-position-x: right;
		    background-position-y: center;
		    background-size: auto;
		    background-origin: padding-box;
			background-position-x: right;
			background-origin: content-box;
			background-position-y: center;
			background-size: 9px;
			-webkit-appearance: none;
			cursor: pointer;
		}
	}

	.player-surat-murottal{
		margin-top: 16px;
	}

}